my_workflows/medium_daily_digest_summarizer/medium_daily_digest_summarizer-chatmode-v3.json
{
  "name": "medium_daily_digest_summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "c0808051-11de-45a8-bb2a-481635045ea2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "id": "c15407ad-ad7f-4436-a648-42239a91ffd3",
      "name": "Gmail Get Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -704,
        192
      ],
      "webhookId": "6c74cb56-ac2f-4ab6-abe0-ab0315d9f2c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "viPkNlIYja6xb7WC",
          "name": "Gmail account pedroh.r99"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json[\"id\"]}}"
      },
      "id": "61f81d54-db51-4594-bbb8-ccb316d69d5a",
      "name": "Gmail Get Full Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -512,
        192
      ],
      "webhookId": "4f6dc46a-025a-470a-929a-17d4320c34a3",
      "credentials": {
        "gmailOAuth2": {
          "id": "viPkNlIYja6xb7WC",
          "name": "Gmail account pedroh.r99"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "payload.body.data",
        "options": {}
      },
      "id": "6f9a109e-b808-4701-964b-fad4103a67dc",
      "name": "Extract Medium Links",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -304,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst filtered = [];\nfor (const item of items) {\n  const url = item.json.linkUrl;\n  if (!url) continue;\n  if (url.includes('unsubscribe') || url.includes('help') || url.includes('privacy')) continue;\n  if (!seen.has(url)) {\n    seen.add(url);\n    filtered.push({ json: { url } });\n  }\n}\nreturn filtered;"
      },
      "id": "9f3ae17c-4c73-4ef7-a20e-ea9ca45c3186",
      "name": "Filter & Dedup Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "ba432ace-0ee6-43db-962c-59941c63dba0",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        96,
        192
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "id": "fe5f3889-160e-41a3-a2a6-4d4edfa00399",
      "name": "Extract Article Content",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        304,
        192
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "createChatCompletion",
        "requestOptions": {}
      },
      "id": "5f37c684-7cd3-4342-8cce-53c2e750de4b",
      "name": "GPT-5 Mini Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        496,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "<OPENAI_API_KEY_PLACEHOLDER>"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const date = new Date().toISOString().split('T')[0];\nlet md = `# Medium Daily Digest — ${date}\\n\\n`;\nfor (const item of items) {\n  const t = item.json.title || 'Sin título';\n  const s = item.json.text || item.json.summary || 'Sin resumen';\n  const u = item.json.url || '';\n  md += `## ${t}\\n\\n${s}\\n\\nLink: ${u}\\n\\n`;\n}\nreturn [{ json: { content: md } }];"
      },
      "id": "4c4ee173-84b3-4cac-8502-85450d6d2ba3",
      "name": "Assemble Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        704,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "daa310e8-83ac-4362-b839-c4aed8043277",
      "name": "Convert to Markdown File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "binaryData": true,
        "parents": [
          "<GOOGLE_DRIVE_FOLDER_ID_medium_com>"
        ],
        "options": {}
      },
      "id": "b5e322c0-5665-4895-81f7-def005532776",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1104,
        192
      ]
    }
  ],
  "pinData": {
    "Gmail Get Digest": [
      {
        "json": {
          "id": "198f46031af6d901",
          "threadId": "198f46031af6d901",
          "snippet": "Pedro Hernández Stories for Pedro Hernández @pedrohr99·Become a member Medium daily digest Today's highlights Mehul Gupta Mehul GuptainData Science in Your Pocket Meta Dino-V3 : The ultimate Vision",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 109312,
          "historyId": "16735549",
          "internalDate": "1756446600000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Medium Daily Digest <noreply@medium.com>",
          "Subject": "Meta Dino-V3 : The ultimate Vision AI for every Image task | Mehul Gupta in Data Science in Your Pocket",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198f32c1275c4398",
          "threadId": "198f32c1275c4398",
          "snippet": "Runpod's new public endpoints turn AI inference into simple API calls. Skip the worker configs and environment variables, our public endpoints let you fire off requests to preconfigured models and",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 45354,
          "historyId": "16735544",
          "internalDate": "1756426408000",
          "labels": [
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "Subject": "Learn more about public endpoints (plus our new programs!)",
          "From": "Runpod <team@runpod.io>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198f2f71ad61f3c8",
          "threadId": "198f2f71ad61f3c8",
          "snippet": "Hey, Some people get significantly better results from Lovable because they take advantage of these powerful features: Chat Mode Chat mode lets you chat with Lovable without making edits. This mode is",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 12745,
          "historyId": "16735543",
          "internalDate": "1756422937000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "Subject": "3 tricks to get more value from Lovable",
          "From": "Lovable <hi@lovable.dev>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198f2ec9cd612be3",
          "threadId": "198f2ec9cd612be3",
          "snippet": "Create a project, create a table, and insert data. ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 23447,
          "historyId": "16735542",
          "internalDate": "1756422249000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "Subject": "Let's get your project shipped",
          "From": "Ant at Supabase <ant.wilson@supabase.com>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198f219c2acc5d6d",
          "threadId": "198f219c2acc5d6d",
          "snippet": "Tienes información importante en tu buzón Pedro, te hemos dejado un mensaje en tu buzón con información relevante. Presta atención a esto: Hemos actualizado nuestra Política de Protección de Datos Te",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 35813,
          "historyId": "16735537",
          "internalDate": "1756408431000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "notificaciones-bbva@bbva.com",
          "To": "pedroh.r99@gmail.com",
          "Subject": "Tienes información importante en \"Mi Buzón\""
        }
      },
      {
        "json": {
          "id": "198f15aec109f37b",
          "threadId": "198f15aec109f37b",
          "snippet": "Mira quién ha buscado tu perfil ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 44393,
          "historyId": "16735533",
          "internalDate": "1756395921000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_SOCIAL",
              "name": "CATEGORY_SOCIAL"
            }
          ],
          "From": "LinkedIn <notifications-noreply@linkedin.com>",
          "Subject": "Has aparecido en 17 búsquedas",
          "To": "\"Pedro Hernández Ruiz\" <pedroh.r99@gmail.com>"
        }
      },
      {
        "json": {
          "id": "198ef39d59253b1b",
          "threadId": "198ef39d59253b1b",
          "snippet": "Pedro Hernández Stories for Pedro Hernández @pedrohr99·Become a member Medium daily digest Today's highlights Suleman Safdar Suleman SafdarinPython in Plain English The Python Tool I Built in a",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 109206,
          "historyId": "16735518",
          "internalDate": "1756360200000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Medium Daily Digest <noreply@medium.com>",
          "Subject": "The Python Tool I Built in a Weekend That Now Pays My Rent | Suleman Safdar in Python in Plain English",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198ed88232b92ad6",
          "threadId": "198ed88232b92ad6",
          "snippet": "Convert images to clean, editable SVGs in seconds. Hi PedroHernández Ruiz, No more messy traces or hours with the pen tool. Our Raster to Vector tool converts any image into a crisp, scalable SVG.",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 112848,
          "historyId": "16735503",
          "internalDate": "1756331778000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "LottieFiles <hello@lottiefiles.com>",
          "To": "pedroh.r99@gmail.com",
          "Subject": "👋 Meet Raster to Vector"
        }
      },
      {
        "json": {
          "id": "198ec43a4d9f0c42",
          "threadId": "198ec43a4d9f0c42",
          "snippet": "Hi Pedro, I'm Yash from Marquee Equity. We help founders structure fundraising and connect with the right strategic investors. In today's market, investors look for clear, well-prepared",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 8608,
          "historyId": "16735498",
          "internalDate": "1756310511000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            }
          ],
          "Subject": "Quick Chat on Fundraising Support",
          "From": "Yashkant Tiwari <yashkant@marquee-equity.com>",
          "To": "Pedro Hernandez Ruiz <pedroh.r99@gmail.com>"
        }
      },
      {
        "json": {
          "id": "198ea13828b9bf63",
          "threadId": "198ea13828b9bf63",
          "snippet": "Pedro Hernández Stories for Pedro Hernández @pedrohr99·Become a member Medium daily digest Today's highlights Sumit Pandey Sumit PandeyinTowards Deep Learning DINOv3 Just Changed Computer Vision",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 108215,
          "historyId": "16735486",
          "internalDate": "1756273800000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Medium Daily Digest <noreply@medium.com>",
          "Subject": "DINOv3 Just Changed Computer Vision Forever | Sumit Pandey in Towards Deep Learning",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e8aa5998ce766",
          "threadId": "198e8aa5998ce766",
          "snippet": "Hey, I hope you're enjoying Lovable! To spark some creativity, here are some things people have built with Lovable: onboarding session preview Many users build professional websites and landing",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 14653,
          "historyId": "16735480",
          "internalDate": "1756250134000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "Subject": "Some inspiration of what people are building with Lovable",
          "From": "Lovable <noreply@lovable.dev>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e7f18a2d5597c",
          "threadId": "198e7f18a2d5597c",
          "snippet": "Better Value & Efficiency to Unlock More Creativity! Introducing Ultra Plan — Better Value & Efficiency to Unlock More Creativity! 💚 Dear Kling AI Community, We're excited to announce the",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 41279,
          "historyId": "16735477",
          "internalDate": "1756237809000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "From": "kling@user-service.klingai.com",
          "To": "pedroh.r99@gmail.com",
          "Subject": "Introducing Ultra Plan! Get 26,000 Credits Monthly at Just 36% of the Price"
        }
      },
      {
        "json": {
          "id": "198e7cc60b38e648",
          "threadId": "198e7cc60b38e648",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 17 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37435,
          "historyId": "16735476",
          "internalDate": "1756235586000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (979ee41)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7cc0e1d0e768",
          "threadId": "198e7cc0e1d0e768",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32424,
          "historyId": "16735475",
          "internalDate": "1756235565000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (979ee41)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7cbbf5e7e5dc",
          "threadId": "198e7cbbf5e7e5dc",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 16 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37432,
          "historyId": "16735474",
          "internalDate": "1756235545000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (a93d207)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7cb77c82a47e",
          "threadId": "198e7cb77c82a47e",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32426,
          "historyId": "16735473",
          "internalDate": "1756235526000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (a93d207)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7c8e0c0ee8f6",
          "threadId": "198e7c8e0c0ee8f6",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 19 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37433,
          "historyId": "16735472",
          "internalDate": "1756235356000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (a0771cc)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7c87fd4f302b",
          "threadId": "198e7c87fd4f302b",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32430,
          "historyId": "16735471",
          "internalDate": "1756235332000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (a0771cc)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7c452b949804",
          "threadId": "1989d96085284d0a",
          "snippet": "Buenos días Julián, Te adjunto los escritos firmados. Un saludo Pedro ￼￼￼￼￼ > El 12 ago 2025, a las 11:21, JMM escribió: > > > Buenos días Pedro. > > La compañía solo ha solicitado un",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 9031875,
          "historyId": "16693272",
          "internalDate": "1756235048000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            }
          ],
          "From": "\"Pedro Hernández\" <pedroh.r99@gmail.com>",
          "Subject": "Re: ESCRITOS DE RECLAMACION SOLICITADOS",
          "To": "\"Julián Martínez Muñoz\" <jmm@cgsmurcia.org>"
        }
      },
      {
        "json": {
          "id": "198e7969dbf7a65b",
          "threadId": "198e7969dbf7a65b",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 11 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37429,
          "historyId": "16735469",
          "internalDate": "1756232063000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (b160a8c)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e7965d17ac4ba",
          "threadId": "198e7965d17ac4ba",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32429,
          "historyId": "16735468",
          "internalDate": "1756232046000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (b160a8c)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e79579f7472f0",
          "threadId": "198e79579f7472f0",
          "snippet": "HP+ te aporta valor y ventajas añadidas Iniciar sesión | Vista web La solución de impresión más inteligente ¡Gracias por elegir HP+, Pedro! Estamos encantados de que obtengas más valor de tu",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 96826,
          "historyId": "16735467",
          "internalDate": "1756229308000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "HP Smart <donotreply@email.hpsmart.com>",
          "To": "<pedroh.r99@gmail.com>",
          "Subject": "¡Nos alegra darte la bienvenida a HP+!"
        }
      },
      {
        "json": {
          "id": "198e78cce99ffc40",
          "threadId": "198e78cce99ffc40",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 9 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37429,
          "historyId": "16735466",
          "internalDate": "1756231420000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (e40ceff)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e78c8f6153e8f",
          "threadId": "198e78c8f6153e8f",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32428,
          "historyId": "16735465",
          "internalDate": "1756231403000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (e40ceff)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e77e330a0b959",
          "threadId": "198e779eae49e6bb",
          "snippet": "Código de un solo uso de HP Para completar el inicio de sesión en su cuenta de HP, introduzca este código de un solo uso (OTP): 977520 El OTP expira en 15 minutos. Esta dirección de correo electrónico",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 10084,
          "historyId": "16735464",
          "internalDate": "1756230463000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            }
          ],
          "From": "HP ID Support <no-reply@id.hp.com>",
          "Subject": "Código de un solo uso de HP",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e77bbb48eb7bf",
          "threadId": "198e779eae49e6bb",
          "snippet": "Código de un solo uso de HP Para completar el inicio de sesión en su cuenta de HP, introduzca este código de un solo uso (OTP): 832261 El OTP expira en 15 minutos. Esta dirección de correo electrónico",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 10075,
          "historyId": "16735464",
          "internalDate": "1756230302000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            }
          ],
          "From": "HP ID Support <no-reply@id.hp.com>",
          "Subject": "Código de un solo uso de HP",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e779eae49e6bb",
          "threadId": "198e779eae49e6bb",
          "snippet": "Código de un solo uso de HP Para completar el inicio de sesión en su cuenta de HP, introduzca este código de un solo uso (OTP): 463674 El OTP expira en 15 minutos. Esta dirección de correo electrónico",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 10071,
          "historyId": "16735653",
          "internalDate": "1756230183000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "HP ID Support <no-reply@id.hp.com>",
          "Subject": "Código de un solo uso de HP",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e776d1167ab0d",
          "threadId": "198e776d1167ab0d",
          "snippet": "Hi Pedro, We're excited to share that GPT-5 is now available to everyone on OpenRouter. Previously available only for BYOK customers, GPT-5 with reasoning is now available, with rate limits that",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 11059,
          "historyId": "16735652",
          "internalDate": "1756229980000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "Subject": "GPT-5 with reasoning is GA on OpenRouter",
          "From": "OpenRouter Team <welcome@openrouter.ai>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e755d831f6773",
          "threadId": "198e755d831f6773",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 14 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37431,
          "historyId": "16735651",
          "internalDate": "1756227818000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (c09aa8e)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e75594f4dba7d",
          "threadId": "198e75594f4dba7d",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32430,
          "historyId": "16735650",
          "internalDate": "1756227801000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (c09aa8e)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e754feed31d62",
          "threadId": "198e754feed31d62",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 14 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37431,
          "historyId": "16735649",
          "internalDate": "1756227762000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (83e6c3f)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e754afe618e46",
          "threadId": "198e754afe618e46",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32432,
          "historyId": "16735648",
          "internalDate": "1756227742000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - feature/setup (83e6c3f)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74b0cf2f83db",
          "threadId": "198e74b0cf2f83db",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 15 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37416,
          "historyId": "16735647",
          "internalDate": "1756227109000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - v0.1.0 (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74aed1b83ff0",
          "threadId": "198e74aed1b83ff0",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 14 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37431,
          "historyId": "16735646",
          "internalDate": "1756227103000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - feature/setup (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74adf1453661",
          "threadId": "198e74adf1453661",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] security workflow run security: All jobs have failed View workflow run security / security-audit Failed in 13 seconds annotations for security / security-audit 1",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 37417,
          "historyId": "16735645",
          "internalDate": "1756227099000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: security - develop (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74aaeb51a142",
          "threadId": "198e74a9766f9280",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32412,
          "historyId": "16735644",
          "internalDate": "1756227086000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_FORUMS",
              "name": "CATEGORY_FORUMS"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - develop (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74aa0a6d2755",
          "threadId": "198e74a9766f9280",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32418,
          "historyId": "16735644",
          "internalDate": "1756227083000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_FORUMS",
              "name": "CATEGORY_FORUMS"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - develop (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e74a9766f9280",
          "threadId": "198e74a9766f9280",
          "snippet": "[pedrohr99/prueba-python-uv-git-remote] .github/workflows/ci.yml workflow run .github/workflows/ci.yml: No jobs were run View workflow run — You are receiving this because you are subscribed to this",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 32420,
          "historyId": "16735644",
          "internalDate": "1756227080000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "[pedrohr99/prueba-python-uv-git-remote] Run failed: .github/workflows/ci.yml - develop (8bed972)",
          "Cc": "Ci activity <ci_activity@noreply.github.com>",
          "To": "\"pedrohr99/prueba-python-uv-git-remote\" <prueba-python-uv-git-remote@noreply.github.com>",
          "From": "\"Pedro Hernández\" <notifications@github.com>"
        }
      },
      {
        "json": {
          "id": "198e70a83c3bdfdd",
          "threadId": "198e70a83c3bdfdd",
          "snippet": "Pedro, NTT DATA Europe & Latam está buscando Artificial Intelligence Consultant ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏ ͏",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 109542,
          "historyId": "16735642",
          "internalDate": "1756222877000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_SOCIAL",
              "name": "CATEGORY_SOCIAL"
            }
          ],
          "From": "LinkedIn <messages-noreply@linkedin.com>",
          "Subject": "Artificial Intelligence Consultant: NTT DATA Europe & Latam y Aizon buscan personal",
          "To": "\"Pedro Hernández Ruiz\" <pedroh.r99@gmail.com>"
        }
      },
      {
        "json": {
          "id": "198e6bed813fd056",
          "threadId": "198e6bed813fd056",
          "snippet": "Si no puedes ver correctamente este mensaje pulsa aquí Iberdrola Hola PEDRO: Adjunta te enviamos tu factura de electricidad de Iberdrola. También puedes consultarla en: Mi Área Cliente Importe: 60,64 €",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 543627,
          "historyId": "16689215",
          "internalDate": "1756217923000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "IBERDROLA <clientes@clientesiberdrola.es>",
          "To": "\"pedroh.r99@gmail.com\" <pedroh.r99@gmail.com>",
          "Subject": "Aviso de disponibilidad de Factura Electrónica Iberdrola"
        }
      },
      {
        "json": {
          "id": "198e5d2e800a55e7",
          "threadId": "198e5d2e800a55e7",
          "snippet": "Conoce a Kodee, el primer agente de IA para WordPress ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌ ﻿ ͏ ‌",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 63476,
          "historyId": "16735630",
          "internalDate": "1756202457000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            }
          ],
          "From": "Hostinger <team@updates.hostinger.com>",
          "Subject": " Gestión de WordPress 10 veces más rápida",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e5644e9938042",
          "threadId": "198e5644e9938042",
          "snippet": "Sin registros recientes: No existe ningún vídeo, noticia ni mención relevante sobre colaboración entre Lovable y Lovart en plataformas ni prensa durante 2025. Actualizaciones de Lovable: Lovable lanzó",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 46181,
          "historyId": "16735624",
          "internalDate": "1756195212000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Perplexity Tasks <team@mail.perplexity.ai>",
          "To": "pedroh.r99@gmail.com",
          "Cc": "",
          "Subject": "Sin novedades sobre colaboración Lovable y Lovart"
        }
      },
      {
        "json": {
          "id": "198e4ed1dda0ccf1",
          "threadId": "198e4ed1dda0ccf1",
          "snippet": "Pedro Hernández Stories for Pedro Hernández @pedrohr99·Become a member Medium daily digest Today's highlights Mehul Gupta Mehul GuptainData Science in Your Pocket Google Gemma3 270M : The best",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 108858,
          "historyId": "16735622",
          "internalDate": "1756187400000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Medium Daily Digest <noreply@medium.com>",
          "Subject": "Google Gemma3 270M : The best Smallest LLM for everything | Mehul Gupta in Data Science in Your Pocket",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e384784e46614",
          "threadId": "198e384784e46614",
          "snippet": "Hola, Pedro Hernández Ruiz: Gracias por probar YouTube Premium Lite. Esperamos que sigas disfrutando de tu experiencia en YouTube sin anuncios. Recuerda que tu periodo de prueba acaba el 1 sept 2025. A",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 25450,
          "historyId": "16735620",
          "internalDate": "1756163766000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "Tu prueba de YouTube Premium Lite está a punto de acabar",
          "From": "YouTube <no-reply@youtube.com>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e383fd2766a58",
          "threadId": "198e383fd2766a58",
          "snippet": "Hey, we're super excited to welcome you to Lovable. If you're already familiar with Lovable: Build your first project now. If not, I'd like to share a few things that might help you:",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 11941,
          "historyId": "16735619",
          "internalDate": "1756163734000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "Welcome to Lovable",
          "From": "Lovable <hi@lovable.dev>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e379b7454646d",
          "threadId": "198e379b7454646d",
          "snippet": "OAuth Application Approval A new OAuth application was authorized to have access to your organization's settings and projects. If this seems unauthorized, you can immediately revoke access at https",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 14589,
          "historyId": "16735618",
          "internalDate": "1756163060000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Supabase Support <support@supabase.com>",
          "Subject": "OAuth Application Approval",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e378ba3fc73c1",
          "threadId": "198e378ba3fc73c1",
          "snippet": "Hey there, Welcome to Supabase, the Postgres development platform. Supabase gives you all the backend features you need to build a product: Database, Authentication, Storage, Realtime API, Edge",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 16597,
          "historyId": "16735617",
          "internalDate": "1756162993000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "From": "Supabase <welcome@supabase.com>",
          "Subject": "Welcome to Supabase",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e3325c2eaf92e",
          "threadId": "198e3325c2eaf92e",
          "snippet": "Hi there Please ignore the last email you received from us. We were updating our email tool and inadvertently triggered a welcome email for a group of customers. Sorry for any confusion — your account",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 8369,
          "historyId": "16735614",
          "internalDate": "1756158384000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "Please ignore our last email",
          "From": "OpenRouter Team <welcome@openrouter.ai>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e2e26aa7b28ba",
          "threadId": "198e2e26aa7b28ba",
          "snippet": "Let's get started. Hey there, Thanks for signing up for OpenRouter – the universal API for accessing, scaling and monitoring the world's best language models from OpenAI, Google, Anthropic, and",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 14260,
          "historyId": "16735613",
          "internalDate": "1756153145000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "Getting Started with OpenRouter",
          "From": "OpenRouter Team <welcome@openrouter.ai>",
          "To": "pedroh.r99@gmail.com"
        }
      },
      {
        "json": {
          "id": "198e1e17ff49c94d",
          "threadId": "198e1e17ff49c94d",
          "snippet": "Gestiona las opciones de privacidad de tu cuenta con la Revisión de Privacidad pedroh.r99@gmail.com Es un buen momento para revisar la configuración de privacidad de tu cuenta de Google. Consulta y",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 15069,
          "historyId": "16735608",
          "internalDate": "1756136300000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            }
          ],
          "Subject": "Consulta la configuración de privacidad de tu cuenta de Google",
          "From": "Google <no-reply@accounts.google.com>",
          "To": "pedroh.r99@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail Get Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Digest": {
      "main": [
        [
          {
            "node": "Gmail Get Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Full Message": {
      "main": [
        [
          {
            "node": "Extract Medium Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Medium Links": {
      "main": [
        [
          {
            "node": "Filter & Dedup Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Dedup Links": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "Extract Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Content": {
      "main": [
        [
          {
            "node": "GPT-5 Mini Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Mini Summarize": {
      "main": [
        [
          {
            "node": "Assemble Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Markdown": {
      "main": [
        [
          {
            "node": "Convert to Markdown File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a619e18-819f-4a5b-b932-1ea4f8bcafa3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a396a459e20e70dadf88b2d8f204762d2d80680fe1414733547fa53f595d718e"
  },
  "id": "esswZCIYhnb05I1S",
  "tags": [
    {
      "createdAt": "2025-08-28T14:38:43.090Z",
      "updatedAt": "2025-08-28T14:38:43.090Z",
      "id": "HMsT9ybSy7vtmctn",
      "name": "Medium Automation"
    }
  ]
}