my_workflows/medium_daily_digest_summarizer/medium_daily_digest_summarizer-chatmode-v11.json
{
  "name": "medium_daily_digest_summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "c0808051-11de-45a8-bb2a-481635045ea2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "q": "newer_than:1d",
          "sender": "noreply@medium.com"
        },
        "options": {}
      },
      "id": "c15407ad-ad7f-4436-a648-42239a91ffd3",
      "name": "Gmail Get Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -704,
        192
      ],
      "webhookId": "6c74cb56-ac2f-4ab6-abe0-ab0315d9f2c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "viPkNlIYja6xb7WC",
          "name": "Gmail account pedroh.r99"
        }
      }
    },
    {
      "parameters": {
        "dataPropertyName": "={{ $json.html }}",
        "extractionValues": {
          "values": [
            {
              "key": "linkUrl",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "id": "6f9a109e-b808-4701-964b-fad4103a67dc",
      "name": "Extract Medium Links",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\nconst filtered = [];\nfor (const item of items) {\n  const url = item.json.linkUrl;\n  if (!url) continue;\n  if (url.includes('unsubscribe') || url.includes('help') || url.includes('privacy')) continue;\n  if (!seen.has(url)) {\n    seen.add(url);\n    filtered.push({ json: { url } });\n  }\n}\nreturn filtered;"
      },
      "id": "9f3ae17c-4c73-4ef7-a20e-ea9ca45c3186",
      "name": "Filter & Dedup Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        96,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "ba432ace-0ee6-43db-962c-59941c63dba0",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        304,
        192
      ]
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "options": {}
      },
      "id": "fe5f3889-160e-41a3-a2a6-4d4edfa00399",
      "name": "Extract Article Content",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        512,
        192
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "createChatCompletion",
        "requestOptions": {}
      },
      "id": "5f37c684-7cd3-4342-8cce-53c2e750de4b",
      "name": "GPT-5 Mini Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        704,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "<OPENAI_API_KEY_PLACEHOLDER>"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const date = new Date().toISOString().split('T')[0];\nlet md = `# Medium Daily Digest — ${date}\\n\\n`;\nfor (const item of items) {\n  const t = item.json.title || 'Sin título';\n  const s = item.json.text || item.json.summary || 'Sin resumen';\n  const u = item.json.url || '';\n  md += `## ${t}\\n\\n${s}\\n\\nLink: ${u}\\n\\n`;\n}\nreturn [{ json: { content: md } }];"
      },
      "id": "4c4ee173-84b3-4cac-8502-85450d6d2ba3",
      "name": "Assemble Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        912,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "daa310e8-83ac-4362-b839-c4aed8043277",
      "name": "Convert to Markdown File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        1104,
        192
      ]
    },
    {
      "parameters": {
        "binaryData": true,
        "parents": [
          "<GOOGLE_DRIVE_FOLDER_ID_medium_com>"
        ],
        "options": {}
      },
      "id": "b5e322c0-5665-4895-81f7-def005532776",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1312,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "let rawHtml = $json.html;\n\n// Quitar backslashes (\\\") y decodificar entidades si hace falta\nlet cleanHtml = rawHtml.replace(/\\\\\"/g, '\"');\n\n// Devolver como html válido para el siguiente nodo\nreturn {\n  json: {\n    html: cleanHtml\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        192
      ],
      "id": "47fe2cdb-f921-4f83-a3a2-83a61b77559e",
      "name": "Clean HTML"
    }
  ],
  "pinData": {
    "Gmail Get Digest": [
      {
        "json": {
          "id": "198f46031af6d901",
          "threadId": "198f46031af6d901",
          "labelIds": [
            "IMPORTANT",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 109312,
          "headers": {
            "delivered-to": "Delivered-To: pedroh.r99@gmail.com",
            "received": "Received: from MTgyMzE0NA (unknown)\r\n\tby geopod-ismtpd-36 (SG) with HTTP\r\n\tid sj9N9ftnSZW_y-T34Zsuug\r\n\tFri, 29 Aug 2025 01:04:07.793 +0000 (UTC)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IFgpkkH5nOiPxThniezhSuW1bPIbeixY4dxU6h5qrcINlAExv4rd82oXxhD/oxxoLls4q/C",
            "x-received": "X-Received: by 2002:a05:6e02:190e:b0:3f0:f671:aca5 with SMTP id e9e14a558f8ab-3f0f671adafmr90980305ab.19.1756446601542;\r\n        Thu, 28 Aug 2025 22:50:01 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1756446601; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=amMtUmSoyNw0hIOt5VYP3BTLBjLdyvol9RmuDq+THTEuyd4v3dOZMyfsR92EXkXo/0\r\n         0ayCkfkddoF1qu0eZZuu218qR6rNZEQTmZH+brqFhs6SgRQuqlmxwg7KN0WsHrC2xh2J\r\n         fii9MsnOIhQg/W6eLE3A2M8buPuxsJhv8O497CGdOUgixiHM4iB0SjOmw0xSqWIUL4V/\r\n         dNjk2s0pdFeNWi0r5HxXTS03P6YmJvsMPvrrBfPvIDc8S7f08uT6GAu8Qv6LpL/vnCVV\r\n         14+vUqsl29TjQBzupwn9UhyQZqcyQzRRJ6c0FSeLFO5HysaC0lTsJdHCa/1vlqLx/4K4\r\n         ctPw==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:list-unsubscribe-post:list-unsubscribe:reply-to:subject\r\n         :message-id:mime-version:from:date:dkim-signature:dkim-signature;\r\n        bh=rPgVCG8khTMEv7QGaY/d6A17gS4AFBicx0XF4kl/0Jw=;\r\n        fh=LdXGV0MfoP1DSUTVj4+Ojq6Gp2cLCh9dN257DvRK3nY=;\r\n        b=ZPIUtEmlB1J/9UwXb9G+mOMjdyJIoATfCL5df2pdvH/Tm1eUdO4lduurTDVXRyzXob\r\n         2kOfLooAeH4bZhe1/DXI1rvu/pjvePzqC1TaxQ/U4uyNCSw8P21WAWYNsDVRsM9L/wuG\r\n         JlYpMP5lzrhUXPO5wHbS/K//lOlWfERvpC4qdTwuHEGeF/Y2DLLJy6bpJkRyV+G2b9ru\r\n         uYJvdYFrRKNw7nve55ITVKD7IdBhzYQvk/uK+kAUdHheRRWtAYP3lfXyTonGvX8ZvyXi\r\n         2hDGBibHegJMdS9vhykJLD3C48QdH6grbF2uROc/w9Io9mjy+z+k07jdLiIOi2z8ldpI\r\n         kAgw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@medium.com header.s=m1 header.b=JiPQyHEg;\r\n       dkim=pass header.i=@sendgrid.info header.s=smtpapi header.b=S+8BBYRN;\r\n       spf=pass (google.com: domain of bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com designates 149.72.177.63 as permitted sender) smtp.mailfrom=\"bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com\";\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=medium.com",
            "return-path": "Return-Path: <bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com designates 149.72.177.63 as permitted sender) client-ip=149.72.177.63;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@medium.com header.s=m1 header.b=JiPQyHEg;\r\n       dkim=pass header.i=@sendgrid.info header.s=smtpapi header.b=S+8BBYRN;\r\n       spf=pass (google.com: domain of bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com designates 149.72.177.63 as permitted sender) smtp.mailfrom=\"bounces+1823144-cdc9-pedroh.r99=gmail.com@email.medium.com\";\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=medium.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=sendgrid.info;\r\n\th=content-type:date:from:mime-version:subject:reply-to:list-unsubscribe:\r\n\tlist-unsubscribe-post:to:cc:content-type:date:feedback-id:from:subject:to;\r\n\ts=smtpapi; bh=rPgVCG8khTMEv7QGaY/d6A17gS4AFBicx0XF4kl/0Jw=;\r\n\tb=S+8BBYRNss/GfQAaA1VW0OR0vC1vxjfm2peNiz6kR4VkHzTD4CqkZXUVnTfbq7iUC3/w\r\n\tDg1rhmv/XUNQ2674KxJAAddYbk6aPMIOgQXCxXJCh4GgMh0XQ6gmmx4cwoSMamwJmGadd7\r\n\tKwQKG24rAsTdc22mbt8hHxHXijPFFQhyM=",
            "content-type": "Content-Type: multipart/alternative; boundary=c5c486c48c47033273a9454a05dbc586a73d3037af90643c6d3f77d4e45d",
            "date": "Date: Fri, 29 Aug 2025 05:50:00 +0000 (UTC)",
            "from": "From: Medium Daily Digest <noreply@medium.com>",
            "mime-version": "Mime-Version: 1.0",
            "message-id": "Message-ID: <sj9N9ftnSZW_y-T34Zsuug@geopod-ismtpd-36>",
            "subject": "Subject: Meta =?UTF-8?B?RGluby1WM8KgOg==?= The ultimate Vision AI for every\r\n Image task | Mehul Gupta in Data Science in Your Pocket",
            "reply-to": "Reply-To: noreply@medium.com",
            "list-unsubscribe": "List-Unsubscribe: \r\n =?us-ascii?Q?=3Chttps=3A=2F=2Fmedium=2Ecom=2Fme=2Femail-settings=2F69775d3528e1=2Fae73c5960b6?=\r\n =?us-ascii?Q?c=3Fsource=3Demail-69775d3528e1-17564294447?=\r\n =?us-ascii?Q?20-digest=2Ereader-----------------------?=\r\n =?us-ascii?Q?--cc0c9f01=5Fbe51=5F4b31=5Fa9c7=5F1b5f2519ebfc&?=\r\n =?us-ascii?Q?type=3Dsocial=3E?=",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "x-sg-eid": "X-SG-EID: \r\n =?us-ascii?Q?u001=2E55w7ZmMf2EEl2GsC3Do5zA1Ej3ejV3ChTXTOIWqmSmBVTBEjrEZn4xjdo?=\r\n =?us-ascii?Q?MvTDDAKPzF+YHK3wh2frth2UarsPEYF4hqz7bPA?=\r\n =?us-ascii?Q?4cBnpbQ+b7nrH=2FeMTcs8I2winqysTdyYvdJfU=2F0?=\r\n =?us-ascii?Q?HOgXm08KNHg2wVSr8ngceCX13RUjGlwX3kPdYOm?=\r\n =?us-ascii?Q?wxLejO8=2FX19uz9S=2FJbMUEQCEGzhayj=2FNPDkqIPG?=\r\n =?us-ascii?Q?01jDYxppXEZv9ph4AKIlQGU1ubtpIzRpVKJc9IK?= =?us-ascii?Q?dJK=2F?=",
            "x-sg-id": "X-SG-ID: \r\n =?us-ascii?Q?u001=2ESdBcvi+Evd=2FbQef8eZF3Bs5=2FCt2ZLZg5Yg2c2+7rwo=2Fo7H8u=2Fvc9m=2FEt+?=\r\n =?us-ascii?Q?H6qFQ9LDT55I54kOqKTV=2FRgtp4zzOFgFpbXTpWr?=\r\n =?us-ascii?Q?jq1RlqEISBk2RQhOUjdDemIkpYpHiYOV3rI0aF7?=\r\n =?us-ascii?Q?qUGhzzUSMI6RzBrd0+a1Ni7OcO7YceUbLiE8XNM?=\r\n =?us-ascii?Q?bFO3JlHiXB0yOBzHVdAgHJh+1Np3qc7qoF38+nF?=\r\n =?us-ascii?Q?A=3D=3D?=",
            "to": "To: pedroh.r99@gmail.com",
            "x-entity-id": "X-Entity-ID: u001.+wIKCpDNBPYepmrdYmvJIQ=="
          },
          "html": "<html lang=\"en\" style=\"box-sizing: border-box;\"><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=5\"><meta name=\"robots\" content=\"none\"><style>\n.hljs-link,\n.hljs-regexp {\n  color: #0e0eff;\n}\n</style><style>\n.eu:hover {\n  color: rgba(8, 8, 8, 1) !important;\n}\n.ev:hover {\n  fill: rgba(8, 8, 8, 1) !important;\n}\n.ew:hover {\n  border-color: rgba(41, 41, 41, 1) !important;\n}\n.fs:hover {\n  background: rgba(15, 115, 12, 1) !important;\n}\n.ft:hover {\n  border-color: rgba(15, 115, 12, 1) !important;\n}\n</style><style>\n@media all and (min-width: 728px) and (max-width: 903.98px) {\n  .d {\n    background-color: rgba(242, 242, 242, 1) !important;\n  }\n\n  .e {\n    padding: 6px 0 40px 0;\n  }\n\n  .o {\n    border: 1px solid rgba(230, 230, 230, 1);\n  }\n\n  .p {\n    border-radius: 4px;\n  }\n\n  .v {\n    padding: 28px 40px 0 40px !important;\n  }\n\n  .an {\n    font-size: 13px;\n  }\n\n  .ao {\n    line-height: 18px;\n  }\n\n  .az {\n    margin-bottom: 5px !important;\n  }\n\n  .ba {\n    margin-top: 25px !important;\n  }\n\n  .bi {\n    padding: 0 40px !important;\n  }\n\n  .br {\n    font-size: 16px !important;\n  }\n\n  .bs {\n    line-height: 24px !important;\n  }\n\n  .dm {\n    font-size: 24px;\n  }\n\n  .dn {\n    line-height: 30px;\n  }\n\n  .eg {\n    padding: 20px 40px 40px !important;\n  }\n\n  .fa {\n    padding: 0px 40px 60px !important;\n  }\n\n  .fi {\n    line-height: 28px;\n  }\n\n  .fy {\n    padding: 40px !important;\n  }\n\n  .gc {\n    padding-bottom: 0 !important;\n  }\n\n  .gd {\n    padding-top: 10px;\n  }\n\n  .gi {\n    display: inline-block !important;\n  }\n\n  .gj {\n    float: right !important;\n  }\n\n  .gq {\n    padding-top: 34px;\n  }\n}\n</style><style>\n@media all and (min-width: 904px) and (max-width: 1079.98px) {\n  .f {\n    background-color: rgba(242, 242, 242, 1) !important;\n  }\n\n  .g {\n    padding: 6px 0 40px 0;\n  }\n\n  .q {\n    border: 1px solid rgba(230, 230, 230, 1);\n  }\n\n  .r {\n    border-radius: 4px;\n  }\n\n  .w {\n    padding: 28px 40px 0 40px !important;\n  }\n\n  .ap {\n    font-size: 13px;\n  }\n\n  .aq {\n    line-height: 18px;\n  }\n\n  .bb {\n    margin-bottom: 5px !important;\n  }\n\n  .bc {\n    margin-top: 25px !important;\n  }\n\n  .bj {\n    padding: 0 40px !important;\n  }\n\n  .bt {\n    font-size: 16px !important;\n  }\n\n  .bu {\n    line-height: 24px !important;\n  }\n\n  .do {\n    font-size: 24px;\n  }\n\n  .dp {\n    line-height: 30px;\n  }\n\n  .eh {\n    padding: 20px 40px 40px !important;\n  }\n\n  .fb {\n    padding: 0px 40px 60px !important;\n  }\n\n  .fj {\n    line-height: 28px;\n  }\n\n  .fz {\n    padding: 40px !important;\n  }\n\n  .ge {\n    padding-bottom: 0 !important;\n  }\n\n  .gf {\n    padding-top: 10px;\n  }\n\n  .gk {\n    display: inline-block !important;\n  }\n\n  .gl {\n    float: right !important;\n  }\n\n  .gr {\n    padding-top: 34px;\n  }\n}\n</style><style>\n@media all and (min-width: 1080px) {\n  .h {\n    background-color: rgba(242, 242, 242, 1) !important;\n  }\n\n  .i {\n    padding: 6px 0 40px 0;\n  }\n\n  .s {\n    border: 1px solid rgba(230, 230, 230, 1);\n  }\n\n  .t {\n    border-radius: 4px;\n  }\n\n  .x {\n    padding: 28px 40px 0 40px !important;\n  }\n\n  .ar {\n    font-size: 13px;\n  }\n\n  .as {\n    line-height: 18px;\n  }\n\n  .bd {\n    margin-bottom: 5px !important;\n  }\n\n  .be {\n    margin-top: 25px !important;\n  }\n\n  .bk {\n    padding: 0 40px !important;\n  }\n\n  .bv {\n    font-size: 16px !important;\n  }\n\n  .bw {\n    line-height: 24px !important;\n  }\n\n  .dq {\n    font-size: 24px;\n  }\n\n  .dr {\n    line-height: 30px;\n  }\n\n  .ei {\n    padding: 20px 40px 40px !important;\n  }\n\n  .fc {\n    padding: 0px 40px 60px !important;\n  }\n\n  .fk {\n    line-height: 28px;\n  }\n\n  .ga {\n    padding: 40px !important;\n  }\n\n  .gg {\n    padding-bottom: 0 !important;\n  }\n\n  .gh {\n    padding-top: 10px;\n  }\n\n  .gm {\n    display: inline-block !important;\n  }\n\n  .gn {\n    float: right !important;\n  }\n\n  .gs {\n    padding-top: 34px;\n  }\n}\n</style><style>\n@media all and (max-width: 551.98px) {\n  .aj {\n    font-size: 11px;\n  }\n\n  .ak {\n    line-height: 14px;\n  }\n\n  .cb {\n    margin-bottom: 24px !important;\n  }\n\n  .cc {\n    margin-top: 24px !important;\n  }\n\n  .cv {\n    margin-left: 24px !important;\n  }\n\n  .cw {\n    height: 53px !important;\n  }\n\n  .cx {\n    width: 80px !important;\n  }\n\n  .dg {\n    width: calc(100% - 104px) !important;\n  }\n\n  .di {\n    font-size: 20px;\n  }\n\n  .dj {\n    line-height: 24px;\n  }\n\n  .ec {\n    margin-top: 56px !important;\n  }\n\n  .fe {\n    font-size: 18px;\n  }\n\n  .ff {\n    line-height: 21px;\n  }\n}\n</style><style>\n@media all and (min-width: 552px) and (max-width: 727.98px) {\n  .al {\n    font-size: 11px;\n  }\n\n  .am {\n    line-height: 14px;\n  }\n\n  .cd {\n    margin-bottom: 24px !important;\n  }\n\n  .ce {\n    margin-top: 24px !important;\n  }\n\n  .cy {\n    margin-left: 24px !important;\n  }\n\n  .cz {\n    height: 53px !important;\n  }\n\n  .da {\n    width: 80px !important;\n  }\n\n  .dh {\n    width: calc(100% - 104px) !important;\n  }\n\n  .dk {\n    font-size: 20px;\n  }\n\n  .dl {\n    line-height: 24px;\n  }\n\n  .ed {\n    margin-top: 56px !important;\n  }\n\n  .fg {\n    font-size: 18px;\n  }\n\n  .fh {\n    line-height: 21px;\n  }\n}\n</style><link id=\"glyph_preload_link\" rel=\"preload\" as=\"style\" type=\"text/css\" href=\"https://glyph.medium.com/css/unbound.css\"><link id=\"glyph_link\" rel=\"stylesheet\" type=\"text/css\" href=\"https://glyph.medium.com/css/unbound.css\"></head><body style=\"margin: 0; padding: 0;\"><div class=\"c d e f g h i\" style=\"background-color: rgba(255, 255, 255, 1);\"><table class=\"j k l m\" role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-left: auto; margin-right: auto; width: 100%; max-width: 680px;\" width=\"100%\"><tbody><tr><td class=\"l n\" style=\"width: 100%; min-width: 100%;\" width=\"100%\"><img src=\"https://medium.com/_/stat?event=email.opened&amp;emailId=cc0c9f01-be51-4b31-a9c7-1b5f2519ebfc&amp;source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" width=\"1\" height=\"1\" alt><div class=\"a b\" style=\"font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(25, 25, 25, 1);\"><div class=\"c o p q r s t\" style=\"background-color: rgba(255, 255, 255, 1);\"><div class=\"u v w x\" style=\"padding: 12px 16px 0 16px;\"><div class=\"y\" style=\"text-align: left;\"><div class><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Pedro Hernández\" class=\"ac ae af ag\" src=\"https://miro.medium.com/fit/c/64/64/0*6c68d_ZL5i37D5aU.\" width=\"32\" height=\"32\" style=\"display: block; border-radius: 50%; height: 32px; width: 32px;\"></a></div><div class=\"z ah ab\" style=\"display: inline-block; vertical-align: middle; padding-left: 9px;\"><div class=\"ai aj ak al am an ao ap aq ar as at\" style=\"font-weight: 400; color: rgba(41, 41, 41, 1);\"><a href=\"https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none;\">Stories for <span style=\"font-weight:700\">Pedro Hernández</span></a></div><div class=\"ai aj ak al am an ao ap aq ar as at\" style=\"font-weight: 400; color: rgba(41, 41, 41, 1);\"><span class=\"ai aj ak al am an ao ap aq ar as au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1);\"><a href=\"https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none;\">@pedrohr99</a></span><span class=\"ai aj ak al am an ao ap aq ar as av\" style=\"font-weight: 400; color: rgba(26, 137, 23, 1);\"><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a href=\"https://medium.com/plans?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none;\">Become a member</a></span></div></div></div></div><div class=\"ay az ba bb bc bd be bf bg\" style=\"margin-bottom: 8px; margin-top: 22px; text-align: center;\"><a href=\"https://medium.com/?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" aria-label=\"Medium homepage link\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Medium daily digest\" class=\"l\" src=\"https://miro.medium.com/max/1200/4*pUIfRlZh07mLXKHFllcZSw.png\" width=\"600\" style=\"width: 100%;\"></a></div></div><div class=\"bh bi bj bk\" style=\"padding: 0 16px;\"><div class=\"bl bm l\" style=\"width: 100%; border-bottom: 1px solid rgba(117, 117, 117, 1); height: 0px;\"></div><div class=\"bn bo\" style=\"margin-bottom: 11px; margin-top: 11px;\"><p class=\"bp bq br bs bt bu bv bw bx at by\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700; font-size: 18px; line-height: 24px; text-transform: uppercase;\">Today&#x27;s highlights</p></div><div class=\"bz bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid rgba(230, 230, 230, 1);\"></div><div><div class=\"ca cb cc cd ce cf\" style=\"margin-bottom: 32px; margin-top: 24px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Mehul Gupta\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*vyvhK_h4zA05mg_Y-n2qBA.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Mehul Gupta</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Data Science in Your Pocket</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@mehulgupta_7991/meta-dino-v3-the-ultimate-vision-ai-for-every-image-task-cf5ffc30a221?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Meta Dino-V3 : The ultimate Vision AI for every Image task\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/0*NwmmTG0QgF2NhVP0\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@mehulgupta_7991/meta-dino-v3-the-ultimate-vision-ai-for-every-image-task-cf5ffc30a221?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Meta Dino-V3 : The ultimate Vision AI for every Image task</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">How to use Dino-V3 for free?</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">6 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">114</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">3</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@simpleandkind788?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Zeeshan Saghir\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*deF5v6S2mOr_j2mBKW9OAQ.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@simpleandkind788?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Zeeshan Saghir</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@simpleandkind788/apple-accidental-leak-7-devices-you-werent-supposed-to-know-yet-6bb2ebeb03e7?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Apple’s Accidental Leak: 7 Devices You Weren’t Supposed to Know Yet\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*-RoOutu7UMIyYw_D9qMTHA.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@simpleandkind788/apple-accidental-leak-7-devices-you-werent-supposed-to-know-yet-6bb2ebeb03e7?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Apple’s Accidental Leak: 7 Devices You Weren’t Supposed to Know Yet</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Oops, They Did It Again — 7 Secret Apple Devices That…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">6 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">285</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">11</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@zainshariff6506?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Zain Shariff\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/0*R1GSSOvHUdB17mz6\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@zainshariff6506?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Zain Shariff</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@zainshariff6506/yolov14-release-date-confirmed-yolovision25s-date-and-what-to-expect-419241ec7d45?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"YOLOv14 Release Date Confirmed: YOLOVision25’s Date and What To Expect\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/0*LJiXDmJAqOyEi7hm\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@zainshariff6506/yolov14-release-date-confirmed-yolovision25s-date-and-what-to-expect-419241ec7d45?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">YOLOv14 Release Date Confirmed: YOLOVision25’s Date and What To Expect</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Yes, you read that right. YOLOv14 has its release date…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">4 min read</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">1</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@mariyam.mahmood047?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Mariyam Mahmood\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*8ufKtNgtjky1oSiwqZVMgA@2x.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@mariyam.mahmood047?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Mariyam Mahmood</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Artificial Intelligence in Plain English</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@mariyam.mahmood047/my-journey-automating-everything-with-ai-16-projects-you-wont-believe-work-4df754697791?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"My Journey Automating Everything with AI: 16 Projects You Won’t Believe Work\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/0*x2hJsKOVqWshcJve\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@mariyam.mahmood047/my-journey-automating-everything-with-ai-16-projects-you-wont-believe-work-4df754697791?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">My Journey Automating Everything with AI: 16 Projects You Won’t Believe Work</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">From LLM-powered summaries to voice bots, image…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">4 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">56</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@CodeCoup?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Code Coup\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*vwyC5BXxsw-6prw03lXBdQ.png\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@CodeCoup?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Code Coup</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/coding-nexus?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Coding Nexus</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@CodeCoup/10-low-cost-open-source-ai-agents-that-actually-work-0656185ba145?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"10 Low-Cost Open-Source AI Agents That Actually Work\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*fjVBJ430bV7xLHOqqvKfbA.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@CodeCoup/10-low-cost-open-source-ai-agents-that-actually-work-0656185ba145?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">10 Low-Cost Open-Source AI Agents That Actually Work</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Let me tell you — most AI agents are like that one…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">5 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">229</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">12</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@viveksinghpathania?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Vivek Singh Pathania\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*JmSnmrJtc3cpHEt_aTdFCA.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@viveksinghpathania?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Vivek Singh Pathania</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@viveksinghpathania/build-an-ai-agent-that-turns-sql-databases-into-dashboards-no-queries-needed-ea78571b2475?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Build an AI Agent That Turns SQL Databases into Dashboards — No Queries Needed\" class=\"dd l de\" src=\"https://miro.medium.com/freeze/fit/c/320/214/1*cBvJdZG_S8eJAWcvshSeyw.gif\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@viveksinghpathania/build-an-ai-agent-that-turns-sql-databases-into-dashboards-no-queries-needed-ea78571b2475?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Build an AI Agent That Turns SQL Databases into Dashboards — No Queries Needed</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">This is a hands-on guide to building a secure…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">7 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">2.3K</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">37</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Mehul Gupta\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*vyvhK_h4zA05mg_Y-n2qBA.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Mehul Gupta</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Data Science in Your Pocket</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@mehulgupta_7991/gpt-5-invented-new-maths-is-this-agi-d1ffe829b6b7?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"GPT-5 Invented New Maths : Is this AGI?\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/0*EzgfSPGzu65Z7giZ\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@mehulgupta_7991/gpt-5-invented-new-maths-is-this-agi-d1ffe829b6b7?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">GPT-5 Invented New Maths : Is this AGI?</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">GPT-5 solved the unsolvable</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">5 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">60</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">3</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Jim Clyde Monge\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*y21asU2FcaTTiDiyXbJK9A.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Jim Clyde Monge</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Generative AI</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@jimclydemonge/5-image-to-video-ai-tools-you-should-know-about-in-2025-f0c45345dab9?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"5 Image-To-Video AI Tools You Should Know About in 2025\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*yJsakrVfvYRyn-5M6ZyanA.jpeg\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@jimclydemonge/5-image-to-video-ai-tools-you-should-know-about-in-2025-f0c45345dab9?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">5 Image-To-Video AI Tools You Should Know About in 2025</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Over the past couple of years, I’ve spent a lot of…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">9 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">224</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">4</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@tariibaba?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Tari Ibaba\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*hrkjW77qwMoev9kLXYZg5w.png\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@tariibaba?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Tari Ibaba</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/coding-beauty?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Coding Beauty</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@tariibaba/googles-new-coding-agent-just-got-even-more-insane-2845f2b10223?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Google’s new coding agent just got even more insane\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*Ym0tRgPob1vmK5_P4wYfRA.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@tariibaba/googles-new-coding-agent-just-got-even-more-insane-2845f2b10223?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Google’s new coding agent just got even more insane</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Coding beast finally unleashed</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">4 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">211</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">5</span></div></div></div><div class=\"dw bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #F2F2F2;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@busolasogunle?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Olubusolami Sogunle\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*6j3bdXn9SlKxllo6lTQmJw@2x.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@busolasogunle?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Olubusolami Sogunle</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\">Artificial Intelligence in Plain English</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@busolasogunle/i-finally-understood-attention-is-all-you-need-after-so-long-heres-how-i-did-it-263b46273f9f?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none;\"><img alt=\"I Finally Understood “Attention is All You Need” After So Long. Here’s How I Did It.\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*kL3ilZSFElPb20j9mEO-SQ.jpeg\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@busolasogunle/i-finally-understood-attention-is-all-you-need-after-so-long-heres-how-i-did-it-263b46273f9f?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">I Finally Understood “Attention is All You Need” After So Long. Here’s How I…</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">It’s been almost 2 years since I first encountered the…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">8 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">398</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">5</span></div></div></div></div><div class=\"dz l n\" style=\"width: 100%; min-width: 100%; padding-bottom: 30px;\"><a class=\"z\" href=\"https://events.zoom.us/ev/Av7REBItl8l_9abuYg_Iyhrgx4cwt8FEGYhzPou4dCMBDIhOV8ZQ~AqZsw[%E2%80%A6]ZTrk5U_7Y36v8q8X0rbc8l3thdX0MerrOjguL5QQVyEwJ6wskFxs1NGn74SXw?source=email-69775d3528e1-1756429444720-digest.reader-----DailyDigest_MD_250829-0-------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-10\" aria-label=\"Medium promotion image\" style=\"color: inherit; text-decoration: none; display: inline-block;\"><img alt class=\"l ea\" src=\"https://miro.medium.com/max/1360/1*ygf9Axp5pbjYEvTxrfoQMw@2x.jpeg\" width=\"680\" style=\"width: 100%; max-width: 100%;\"></a></div></div><div class=\"eb ec ed\" style=\"margin-top: 48px;\"><div class=\"bz bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid rgba(230, 230, 230, 1);\"></div></div><div class=\"ee ef eg eh ei\" style=\"background-color: #FAFAFA; padding: 20px 16px 40px;\"><div class=\"bn bo\" style=\"margin-bottom: 11px; margin-top: 11px;\"><div class=\"z ej ab\" style=\"display: inline-block; vertical-align: middle; width: 60%;\"><span class=\"bp dt bx at by\" style=\"color: rgba(41, 41, 41, 1); font-weight: 700; line-height: 24px; text-transform: uppercase; font-size: 16px;\">From your following</span></div><div class=\"z ek el ab\" style=\"display: inline-block; vertical-align: middle; width: 40%; text-align: right;\"><a class=\"em en eo z ep bg eq er es at et eu ev ew ex ai co cp\" href=\"https://medium.com/me/following/people?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"display: inline-block; font-weight: 400; color: rgba(41, 41, 41, 1); text-align: center; font-size: 13px; line-height: 20px; border-width: 1px; border-style: solid; box-sizing: border-box; text-decoration: none; padding: 2px 8px; background: 0; border-color: rgba(117, 117, 117, 1); fill: rgba(41, 41, 41, 1); border-radius: 99em;\">Edit who you follow</a></div></div><div class=\"bl bm l\" style=\"width: 100%; border-bottom: 1px solid rgba(117, 117, 117, 1); height: 0px;\"></div><div><div class=\"ca cb cc cd ce cf\" style=\"margin-bottom: 32px; margin-top: 24px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Jim Clyde Monge\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*y21asU2FcaTTiDiyXbJK9A.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Jim Clyde Monge</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Generative AI</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@jimclydemonge/here-are-the-best-ai-tools-for-powerpoint-in-2025-ce7b2e79dc19?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Here Are The Best AI PowerPoint Generators In 2025\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*sBI7TOGoZGt4vy118KNRHw.jpeg\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@jimclydemonge/here-are-the-best-ai-tools-for-powerpoint-in-2025-ce7b2e79dc19?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Here Are The Best AI PowerPoint Generators In 2025</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Did you know that creating PowerPoint presentations…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">13 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">234</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">2</span></div></div></div><div class=\"ey bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #E5E5E5;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@lee_vaughan?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Lee Vaughan\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*SmySBFLWkdG0Ltyegy74ww.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@lee_vaughan?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Lee Vaughan</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/data-science-collective?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Data Science Collective</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@lee_vaughan/grid-based-heatmaps-for-geospatial-analysis-1927054862f2?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Grid-based Heatmaps for Geospatial Analysis\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*F48JKckwLsr18RhnwL25lw.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@lee_vaughan/grid-based-heatmaps-for-geospatial-analysis-1927054862f2?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Grid-based Heatmaps for Geospatial Analysis</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Map regional tornado trends with Python</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">8 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">280</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">1</span></div></div></div><div class=\"ey bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #E5E5E5;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@pankaj_pandey?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Pankaj\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*xFkR0dRBHLWuGKwsCARv8g.png\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@pankaj_pandey?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Pankaj</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@pankaj_pandey/dinov3-a-frozen-universal-vision-backbone-you-can-actually-ship-16f5d285c38d?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"DINOv3: a frozen universal vision backbone you can actually ship\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*5wbrcmV-GzhWD-QnZ32xxg.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@pankaj_pandey/dinov3-a-frozen-universal-vision-backbone-you-can-actually-ship-16f5d285c38d?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">DINOv3: a frozen universal vision backbone you can actually ship</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">DINOv3 is a self-supervised (no labels) vision…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">7 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">51</span></div></div></div><div class=\"ey bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #E5E5E5;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@derailed.dash?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Dazbo (Darren Lester)\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*jFg7mJ4-yYxt5agy4MwpyQ.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@derailed.dash?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Dazbo (Darren Lester)</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/google-cloud?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Google Cloud - Community</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@derailed.dash/creating-an-automated-ui-test-of-your-web-app-in-seconds-with-gemini-cli-and-browsermcp-09cf4afb8940?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Creating an Automated UI Test of Your Web App in Seconds, with Gemini CLI and BrowserMCP\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/1*MtruNKaM8JaI2yAtuB9tww.png\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@derailed.dash/creating-an-automated-ui-test-of-your-web-app-in-seconds-with-gemini-cli-and-browsermcp-09cf4afb8940?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">Creating an Automated UI Test of Your Web App in Seconds, with Gemini CLI and…</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">When we add BrowserMCP to Gemini CLI, we can perform…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">4 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">223</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">1</span></div></div></div><div class=\"ey bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #E5E5E5;\"></div></div><div><div class=\"ca cb cc cd ce dx\" style=\"margin-bottom: 32px; margin-top: 32px;\"><div class=\"cg ch l\" style=\"width: 100%; display: table; table-layout: fixed;\"><div class=\"ci cj ck cl\" style=\"display: table-cell; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><a href=\"https://medium.com/@stephen-tierrainsights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"Stephen Chege\" class=\"ac ae cm cn\" src=\"https://miro.medium.com/fit/c/40/40/1*fF8EkmOLHjlfqwF34VlwXw.jpeg\" width=\"20\" height=\"20\" style=\"display: block; border-radius: 50%; height: 20px; width: 20px;\"></a></div><span class=\"ai co cp at cq ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 8px;\"><a href=\"https://medium.com/@stephen-tierrainsights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Stephen Chege</a></span><span class=\"ai co cp au cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\">in</span><span class=\"ai co cp at cr ab\" style=\"vertical-align: middle; font-weight: 400; color: rgba(41, 41, 41, 1); font-size: 13px; line-height: 20px; margin-left: 4px;\"><a href=\"https://medium.com/tierra-insights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\">Tierra Insights</a></span></div></div><div class=\"cs\" style=\"margin-top: 16px;\"><div class=\"z ct cu cv cw cx cy cz da db dc\" style=\"display: inline-block; float: right; margin-left: 56px; height: 107px; width: 160px;\"><a href=\"https://medium.com/@stephen-tierrainsights/how-to-replace-arcgis-image-analyst-with-open-source-python-tools-f35a0134726e?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none;\"><img alt=\"How to Replace ArcGIS Image Analyst With Open Source Python Tools\" class=\"dd l de\" src=\"https://miro.medium.com/fit/c/320/214/0*tjCv9B-4ItnY3yVo\" width=\"160\" height=\"107\" style=\"width: 100%; border-radius: 2px; height: 100%;\"></a></div><div class=\"df dg dh\" style=\"width: calc(100% - 216px);\"><a class=\"ac\" href=\"https://medium.com/@stephen-tierrainsights/how-to-replace-arcgis-image-analyst-with-open-source-python-tools-f35a0134726e?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\" style=\"color: inherit; text-decoration: none; display: block;\"><h2 class=\"bp di dj dk dl dm dn do dp dq dr at\" style=\"margin: 0; color: rgba(41, 41, 41, 1); font-weight: 700;\">How to Replace ArcGIS Image Analyst With Open Source Python Tools</h2><div class=\"ds\" style=\"margin-top: 8px;\"><h3 class=\"ai dt cp au\" style=\"margin: 0; font-weight: 400; color: rgba(117, 117, 117, 1); line-height: 20px; font-size: 16px;\">Geospatial imagery has become the backbone of modern…</h3></div></a></div></div><div class=\"cf\" style=\"margin-top: 24px;\"><div class=\"z dy\" style=\"display: inline-block; margin-right: 16px;\"><img alt=\"Member-only content\" class=\"ab\" src=\"https://miro.medium.com/fit/c/30/30/1*Zz6z7U4dGjkNKQy1cxU7iw@2x.png\" width=\"15\" height=\"15\" style=\"vertical-align: middle;\"></div><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">6 min read</span></div><img alt=\"Claps\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/15179c17ea56cc631c7aa437c6f487f42797bb0a1053ee7f7cc7fca905445942\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">51</span></div><img alt=\"Responses\" class=\"ab du dv\" src=\"https://miro.medium.com/fit/c/32/32/7e20b295db3744e82c784a6bfc830a875110046ab5850df5a1d872355af7d787\" width=\"16\" height=\"16\" style=\"vertical-align: middle; margin-left: 16px; margin-right: 4px;\"><div class=\"z ab\" style=\"display: inline-block; vertical-align: middle;\"><span class=\"ai co cp au\" style=\"font-weight: 400; color: rgba(117, 117, 117, 1); font-size: 13px; line-height: 20px;\">1</span></div></div></div></div><div class=\"ey bm l\" style=\"width: 100%; height: 0px; border-bottom: 1px solid #E5E5E5;\"></div></div><div class=\"ee ez fa fb fc bg\" style=\"text-align: center; background-color: #FAFAFA; padding: 0px 27px 54px;\"><h2 class=\"ai fd fe ff fg fh dm fi do fj dq fk fl\" style=\"margin: 0; font-weight: 400; font-family: Georgia, serif; color: rgba(8, 8, 8, 1);\">See more of what you like and less of what you don’t.</h2><div class=\"fm\" style=\"padding-top: 16px;\"><a class=\"em en eo z ep bg fn fo fp fq fr fs ft ex ai dt bx\" href=\"https://medium.com/me/missioncontrol?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"display: inline-block; font-weight: 400; text-align: center; line-height: 24px; font-size: 16px; border-width: 1px; border-style: solid; box-sizing: border-box; text-decoration: none; border-radius: 99em; padding: 9px 20px; background: rgba(26, 137, 23, 1); border-color: rgba(26, 137, 23, 1); color: rgba(255, 255, 255, 1); fill: rgba(255, 255, 255, 1);\">Control your recommendations</a></div></div><div class=\"fv fw fx fy fz ga\" style=\"background-color: rgba(0, 0, 0, 1); border-radius: 0 0 4px 4px; padding: 32px 16px;\"><div class=\"z gb gc gd ge gf gg gh\" style=\"display: inline-block; padding-bottom: 12px;\"><h2 class=\"bp dt cp fq\" style=\"margin: 0; font-weight: 700; line-height: 20px; font-size: 16px; color: rgba(255, 255, 255, 1);\">Read from anywhere.</h2></div><div class=\"ac gi gj gk gl gm gn go\" style=\"display: block; float: none;\"><div class=\"z gp\" style=\"display: inline-block; padding-right: 12px;\"><a class=\"z\" href=\"https://itunes.apple.com/app/medium-everyones-stories/id828256236?pt=698524&amp;mt=8&amp;ct=email_digestFooter&amp;source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none; display: inline-block;\"><img alt=\"Get Medium on the App Store\" class src=\"https://miro.medium.com/proxy/1*CXKdDEfFShoF6Azy5V8ZKQ@2x.png\" width=\"120\" height=\"40\"></a></div><a class=\"z\" href=\"https://play.google.com/store/apps/details?id=com.medium.reader&amp;referrer=utm_source%3Demail_digestFooter&amp;source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none; display: inline-block;\"><img alt=\"Get Medium on Google Play\" class src=\"https://miro.medium.com/proxy/1*D-oULOaPtKR8A1jatsII4w@2x.png\" width=\"134.17\" height=\"40\"></a></div><div class=\"gq gr gs gt\" style=\"padding: 20px 0px;\"><div class=\"bl bm l\" style=\"width: 100%; border-bottom: 1px solid rgba(117, 117, 117, 1); height: 0px;\"></div></div><div class=\"fu\" style=\"clear: both;\"><div class=\"y\" style=\"text-align: left;\"><div class=\"ai co cp fq\" style=\"font-weight: 400; font-size: 13px; line-height: 20px; color: rgba(255, 255, 255, 1);\"><div class>Sent by <a href=\"https://medium.com/?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: none;\">Medium</a><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span>3500 South DuPont Highway, Suite IQ-101, Dover, DE 19901</div><a class=\"gu\" href=\"https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&amp;source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Unsubscribe</a> from this type of email<span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a class=\"gu\" href=\"https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&amp;preference=2&amp;source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Switch to the Weekly Digest</a><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a class=\"gu\" href=\"https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Careers</a><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a class=\"gu\" href=\"https://help.medium.com/hc/en-us?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Help Center</a><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a class=\"gu\" href=\"https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Privacy Policy</a><span class=\"aw ax\" style=\"padding-left: 4px; padding-right: 4px;\">·</span><a class=\"gu\" href=\"https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\" style=\"color: inherit; text-decoration: underline;\">Terms of service</a></div></div></div></div></div></div></td></tr></tbody></table></div><img src=\"https://u1823144.ct.sendgrid.net/wf/open?upn=u001.hA2-2B2tdPIqa5sFsuw-2Fejxk6AZQHBzTqFqmrQ-2F8oug6CtV8zIdRJifCTzOHwa1PIG3B87MpZjFr0i3gbExC47IYN2DQmB82SriI0n0nws5bGLnxJj-2FMT9G-2Fi1g9mi69jcWhj-2FZJupi44PYf9blQdmpJrPdBp0KzA56PweOt-2FKoWxamPTano6mE9JQ-2BKBLm4B2dDkF-2F8H9e9fnDDGa2LO0I7rq2cYyJXio8sxEJh2sDaIDHnMOFT4e-2FrIXuZ01l-2FPADlvwkOdvWHFUYBgXZBPVQMtsVS8drws-2BJBVi45JwyUD3aG-2BjzjF4av5erk7N-2FzXQudRHUZvQzpmGiIgidQoS2bfhlj21PSQdKoUk-2FB8YrAwNf5n8wExLg0CukdFQL4p9bz2etyRWppd5WLqYQIzsNF43hjxC5VwsLxA6Szgjt74-3D\" alt=\"\" width=\"1\" height=\"1\" border=\"0\" style=\"height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;\"/></body></html>",
          "text": "Stories for Pedro Hernández\n@pedrohr99 (https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·Become a member (https://medium.com/plans?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n\nToday's highlights\n\nMehul Gupta (https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninData Science in Your Pocket (https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nMeta Dino-V3 : The ultimate Vision AI for every Image task\nHow to use Dino-V3 for free?\n\n6 min read\n114\n3\n\nZeeshan Saghir (https://medium.com/@simpleandkind788?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nApple's Accidental Leak: 7 Devices You Weren't Supposed to Know Yet\nOops, They Did It Again - 7 Secret Apple Devices That…\n\n6 min read\n285\n11\n\nZain Shariff (https://medium.com/@zainshariff6506?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nYOLOv14 Release Date Confirmed: YOLOVision25's Date and What To Expect\nYes, you read that right. YOLOv14 has its release date…\n\n4 min read\n1\n\nMariyam Mahmood (https://medium.com/@mariyam.mahmood047?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninArtificial Intelligence in Plain English (https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nMy Journey Automating Everything with AI: 16 Projects You Won't Believe Work\nFrom LLM-powered summaries to voice bots, image…\n\n4 min read\n56\n\nCode Coup (https://medium.com/@CodeCoup?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninCoding Nexus (https://medium.com/coding-nexus?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\n10 Low-Cost Open-Source AI Agents That Actually Work\nLet me tell you - most AI agents are like that one…\n\n5 min read\n229\n12\n\nVivek Singh Pathania (https://medium.com/@viveksinghpathania?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nBuild an AI Agent That Turns SQL Databases into Dashboards - No Queries Needed\nThis is a hands-on guide to building a secure…\n\n7 min read\n2.3K\n37\n\nMehul Gupta (https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninData Science in Your Pocket (https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nGPT-5 Invented New Maths : Is this AGI?\nGPT-5 solved the unsolvable\n\n5 min read\n60\n3\n\nJim Clyde Monge (https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninGenerative AI (https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\n5 Image-To-Video AI Tools You Should Know About in 2025\nOver the past couple of years, I've spent a lot of…\n\n9 min read\n224\n4\n\nTari Ibaba (https://medium.com/@tariibaba?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninCoding Beauty (https://medium.com/coding-beauty?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nGoogle's new coding agent just got even more insane\nCoding beast finally unleashed\n\n4 min read\n211\n5\n\nOlubusolami Sogunle (https://medium.com/@busolasogunle?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\ninArtificial Intelligence in Plain English (https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1)\n\nI Finally Understood \"Attention is All You Need\" After So Long. Here's How I…\nIt's been almost 2 years since I first encountered the…\n\n8 min read\n398\n5\n\nFrom your following\nEdit who you follow (https://medium.com/me/following/people?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nJim Clyde Monge (https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\ninGenerative AI (https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nHere Are The Best AI PowerPoint Generators In 2025\nDid you know that creating PowerPoint presentations…\n\n13 min read\n234\n2\n\nLee Vaughan (https://medium.com/@lee_vaughan?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\ninData Science Collective (https://medium.com/data-science-collective?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nGrid-based Heatmaps for Geospatial Analysis\nMap regional tornado trends with Python\n\n8 min read\n280\n1\n\nPankaj (https://medium.com/@pankaj_pandey?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nDINOv3: a frozen universal vision backbone you can actually ship\nDINOv3 is a self-supervised (no labels) vision…\n\n7 min read\n51\n\nDazbo (Darren Lester) (https://medium.com/@derailed.dash?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\ninGoogle Cloud - Community (https://medium.com/google-cloud?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nCreating an Automated UI Test of Your Web App in Seconds, with Gemini CLI and…\nWhen we add BrowserMCP to Gemini CLI, we can perform…\n\n4 min read\n223\n1\n\nStephen Chege (https://medium.com/@stephen-tierrainsights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\ninTierra Insights (https://medium.com/tierra-insights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31)\n\nHow to Replace ArcGIS Image Analyst With Open Source Python Tools\nGeospatial imagery has become the backbone of modern…\n\n6 min read\n51\n1\n\nSee more of what you like and less of what you don't.\nControl your recommendations (https://medium.com/me/missioncontrol?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n\nRead from anywhere.\n\nSent by Medium (https://medium.com/?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·3500 South DuPont Highway, Suite IQ-101, Dover, DE 19901\nUnsubscribe (https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n from this type of email·Switch to the Weekly Digest (https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&preference=2&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·Careers (https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·Help Center (https://help.medium.com/hc/en-us?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·Privacy Policy (https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)\n·Terms of service (https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc)",
          "textAsHtml": "<p>Stories for Pedro Hern&aacute;ndez<br/><a href=\"https://twitter.com/pedrohr99\">@pedrohr99</a> (<a href=\"https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/@pedrohr99?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;Become a member (<a href=\"https://medium.com/plans?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/plans?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)</p><p>Today&apos;s highlights</p><p>Mehul Gupta (<a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inData Science in Your Pocket (<a href=\"https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-cf5ffc30a221----0-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>Meta Dino-V3&nbsp;: The ultimate Vision AI for every Image task<br/>How to use Dino-V3 for free?</p><p>6 min read<br/>114<br/>3</p><p>Zeeshan Saghir (<a href=\"https://medium.com/@simpleandkind788?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@simpleandkind788?source=email-69775d3528e1-1756429444720-digest.reader--6bb2ebeb03e7----1-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>Apple&apos;s Accidental Leak: 7 Devices You Weren&apos;t Supposed to Know Yet<br/>Oops, They Did It Again&hairsp;-&hairsp;7 Secret Apple Devices That&mldr;</p><p>6 min read<br/>285<br/>11</p><p>Zain Shariff (<a href=\"https://medium.com/@zainshariff6506?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@zainshariff6506?source=email-69775d3528e1-1756429444720-digest.reader--419241ec7d45----2-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>YOLOv14 Release Date Confirmed: YOLOVision25&apos;s Date and What To Expect<br/>Yes, you read that right. YOLOv14 has its release date&mldr;</p><p>4 min read<br/>1</p><p>Mariyam Mahmood (<a href=\"https://medium.com/@mariyam.mahmood047?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@mariyam.mahmood047?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inArtificial Intelligence in Plain English (<a href=\"https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-4df754697791----3-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>My Journey Automating Everything with AI: 16 Projects You Won&apos;t Believe Work<br/>From LLM-powered summaries to voice bots, image&mldr;</p><p>4 min read<br/>56</p><p>Code Coup (<a href=\"https://medium.com/@CodeCoup?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@CodeCoup?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inCoding Nexus (<a href=\"https://medium.com/coding-nexus?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/coding-nexus?source=email-69775d3528e1-1756429444720-digest.reader-16e3527896e0-0656185ba145----4-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>10 Low-Cost Open-Source AI Agents That Actually Work<br/>Let me tell you&hairsp;-&hairsp;most AI agents are like that one&mldr;</p><p>5 min read<br/>229<br/>12</p><p>Vivek Singh Pathania (<a href=\"https://medium.com/@viveksinghpathania?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@viveksinghpathania?source=email-69775d3528e1-1756429444720-digest.reader--ea78571b2475----5-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>Build an AI Agent That Turns SQL Databases into Dashboards&hairsp;-&hairsp;No Queries Needed<br/>This is a hands-on guide to building a secure&mldr;</p><p>7 min read<br/>2.3K<br/>37</p><p>Mehul Gupta (<a href=\"https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@mehulgupta_7991?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inData Science in Your Pocket (<a href=\"https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/data-science-in-your-pocket?source=email-69775d3528e1-1756429444720-digest.reader-60130df77e02-d1ffe829b6b7----6-99------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>GPT-5 Invented New Maths&nbsp;: Is this AGI?<br/>GPT-5 solved the unsolvable</p><p>5 min read<br/>60<br/>3</p><p>Jim Clyde Monge (<a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inGenerative AI (<a href=\"https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-f0c45345dab9----7-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>5 Image-To-Video AI Tools You Should Know About in 2025<br/>Over the past couple of years, I&apos;ve spent a lot of&mldr;</p><p>9 min read<br/>224<br/>4</p><p>Tari Ibaba (<a href=\"https://medium.com/@tariibaba?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@tariibaba?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inCoding Beauty (<a href=\"https://medium.com/coding-beauty?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/coding-beauty?source=email-69775d3528e1-1756429444720-digest.reader-266711b938df-2845f2b10223----8-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>Google&apos;s new coding agent just got even more insane<br/>Coding beast finally unleashed</p><p>4 min read<br/>211<br/>5</p><p>Olubusolami Sogunle (<a href=\"https://medium.com/@busolasogunle?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/@busolasogunle?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)<br/>inArtificial Intelligence in Plain English (<a href=\"https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1\">https://medium.com/ai-in-plain-english?source=email-69775d3528e1-1756429444720-digest.reader-78d064101951-263b46273f9f----9-98------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-1</a>)</p><p>I Finally Understood &quot;Attention is All You Need&quot; After So Long. Here&apos;s How I&mldr;<br/>It&apos;s been almost 2 years since I first encountered the&mldr;</p><p>8 min read<br/>398<br/>5</p><p>From your following<br/>Edit who you follow (<a href=\"https://medium.com/me/following/people?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/me/following/people?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>Jim Clyde Monge (<a href=\"https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/@jimclydemonge?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)<br/>inGenerative AI (<a href=\"https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/generative-ai?source=email-69775d3528e1-1756429444720-digest.reader-440100e76000-ce7b2e79dc19----0-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>Here Are The Best AI PowerPoint Generators In 2025<br/>Did you know that creating PowerPoint presentations&mldr;</p><p>13 min read<br/>234<br/>2</p><p>Lee Vaughan (<a href=\"https://medium.com/@lee_vaughan?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/@lee_vaughan?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)<br/>inData Science Collective (<a href=\"https://medium.com/data-science-collective?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/data-science-collective?source=email-69775d3528e1-1756429444720-digest.reader-8993e01dcfd3-1927054862f2----1-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>Grid-based Heatmaps for Geospatial Analysis<br/>Map regional tornado trends with Python</p><p>8 min read<br/>280<br/>1</p><p>Pankaj (<a href=\"https://medium.com/@pankaj_pandey?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/@pankaj_pandey?source=email-69775d3528e1-1756429444720-digest.reader--16f5d285c38d----2-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>DINOv3: a frozen universal vision backbone you can actually ship<br/>DINOv3 is a self-supervised (no labels) vision&mldr;</p><p>7 min read<br/>51</p><p>Dazbo (Darren Lester) (<a href=\"https://medium.com/@derailed.dash?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/@derailed.dash?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)<br/>inGoogle Cloud - Community (<a href=\"https://medium.com/google-cloud?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/google-cloud?source=email-69775d3528e1-1756429444720-digest.reader-e52cf94d98af-09cf4afb8940----3-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>Creating an Automated UI Test of Your Web App in Seconds, with Gemini CLI and&mldr;<br/>When we add BrowserMCP to Gemini CLI, we can perform&mldr;</p><p>4 min read<br/>223<br/>1</p><p>Stephen Chege (<a href=\"https://medium.com/@stephen-tierrainsights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/@stephen-tierrainsights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)<br/>inTierra Insights (<a href=\"https://medium.com/tierra-insights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31\">https://medium.com/tierra-insights?source=email-69775d3528e1-1756429444720-digest.reader-be14cb4dc5d1-f35a0134726e----4-2------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc-31</a>)</p><p>How to Replace ArcGIS Image Analyst With Open Source Python Tools<br/>Geospatial imagery has become the backbone of modern&mldr;</p><p>6 min read<br/>51<br/>1</p><p>See more of what you like and less of what you don&apos;t.<br/>Control your recommendations (<a href=\"https://medium.com/me/missioncontrol?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/me/missioncontrol?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)</p><p>Read from anywhere.</p><p>Sent by Medium (<a href=\"https://medium.com/?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;3500 South DuPont Highway, Suite IQ-101, Dover,&nbsp;DE&nbsp;19901<br/>Unsubscribe (<a href=\"https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/> from this type of email&middot;Switch to the Weekly Digest (<a href=\"https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&preference=2&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/me/email-settings/69775d3528e1/ae73c5960b6c?type=social&preference=2&source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;Careers (<a href=\"https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;Help Center (<a href=\"https://help.medium.com/hc/en-us?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://help.medium.com/hc/en-us?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;Privacy Policy (<a href=\"https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)<br/>&middot;Terms of service (<a href=\"https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc\">https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=email-69775d3528e1-1756429444720-digest.reader-------------------------cc0c9f01_be51_4b31_a9c7_1b5f2519ebfc</a>)</p>",
          "subject": "Meta Dino-V3 : The ultimate Vision AI for every Image task | Mehul Gupta in Data Science in Your Pocket",
          "date": "2025-08-29T05:50:00.000Z",
          "to": {
            "value": [
              {
                "address": "pedroh.r99@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:pedroh.r99@gmail.com\" class=\"mp_address_email\">pedroh.r99@gmail.com</a></span>",
            "text": "pedroh.r99@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "noreply@medium.com",
                "name": "Medium Daily Digest"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Medium Daily Digest</span> &lt;<a href=\"mailto:noreply@medium.com\" class=\"mp_address_email\">noreply@medium.com</a>&gt;</span>",
            "text": "\"Medium Daily Digest\" <noreply@medium.com>"
          },
          "messageId": "<sj9N9ftnSZW_y-T34Zsuug@geopod-ismtpd-36>",
          "replyTo": {
            "value": [
              {
                "address": "noreply@medium.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:noreply@medium.com\" class=\"mp_address_email\">noreply@medium.com</a></span>",
            "text": "noreply@medium.com"
          }
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-08-29T09:10:32.230-04:00",
          "Readable date": "August 29th 2025, 9:10:32 am",
          "Readable time": "9:10:32 am",
          "Day of week": "Friday",
          "Year": "2025",
          "Month": "August",
          "Day of month": "29",
          "Hour": "09",
          "Minute": "10",
          "Second": "32",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail Get Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Digest": {
      "main": [
        [
          {
            "node": "Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Medium Links": {
      "main": [
        [
          {
            "node": "Filter & Dedup Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Dedup Links": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "Extract Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Content": {
      "main": [
        [
          {
            "node": "GPT-5 Mini Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5 Mini Summarize": {
      "main": [
        [
          {
            "node": "Assemble Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Markdown": {
      "main": [
        [
          {
            "node": "Convert to Markdown File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML": {
      "main": [
        [
          {
            "node": "Extract Medium Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42c6f7eb-a82d-4349-953c-70b9b78e854b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a396a459e20e70dadf88b2d8f204762d2d80680fe1414733547fa53f595d718e"
  },
  "id": "esswZCIYhnb05I1S",
  "tags": [
    {
      "createdAt": "2025-08-28T14:38:43.090Z",
      "updatedAt": "2025-08-28T14:38:43.090Z",
      "id": "HMsT9ybSy7vtmctn",
      "name": "Medium Automation"
    }
  ]
}