my_workflows/medium_articles_es_summary/medium_articles_es_summary-perplexity-v6.json
{
  "name": "medium_articles_es_summary",
  "nodes": [
    {
      "parameters": {},
      "id": "d4ec5f2b-adeb-4f6c-90e7-b0c071ac659f",
      "name": "When executed by another node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1664,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json['url'].replace('https://','').replace('http://','') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 90000
        }
      },
      "id": "ae811f8f-76dd-4cd4-8c24-b0f992995c4d",
      "name": "Fetch Medium HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "position": [
        -1456,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4f53c65c-8108-4086-87f2-93cca9941812",
              "leftValue": "={{ $json.paywalled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e4cc663-d103-42ba-a451-3d541555e09f",
      "name": "Member-only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        0
      ]
    },
    {
      "parameters": {},
      "id": "50b4c43c-213f-48d2-8668-d45bbfaca893",
      "name": "Log (member-only)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "title",
              "type": "string",
              "value": "={{$json.title}}"
            },
            {
              "name": "title_translate",
              "type": "string",
              "value": "Contenido solo para miembros"
            },
            {
              "name": "summary_translate",
              "type": "string",
              "value": "No se pudo acceder sin login."
            },
            {
              "name": "url",
              "type": "string",
              "value": "={{$json.url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b9f33a0-cecc-4aa2-87b5-b33659b7b544",
      "name": "Shape Output (skip)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"gpt-5-mini\",\n  temperature: 1.0,\n  reasoning_effort: \"low\" ,           // reduce tokens de razonamiento\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content: \"Eres un redactor técnico y respondes SOLO JSON válido.\"\n    },\n    {\n      role: \"user\",\n      content:\n        \"Título original: \" + $json.title + \"\\n\" +\n        \"URL: \" + $json.url + \"\\n\" +\n        \"Contenido:\\n\" + $json.content + \"\\n\\n\" +\n        \"Devuelve SOLO este objeto JSON:\\n\" +\n        \"{\\\"title_translate\\\":\\\"título en español natural (máx. 90 caracteres)\\\",\\\"summary_translate\\\":\\\"resumen claro en español, 2-3 frases sencillas\\\"}\"\n    }\n  ],\n  max_completion_tokens: 1024            // sube este valor para evitar finish_reason='length'\n}) }}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8bc09e9f-de57-4a70-a1c0-6eb7b005133f",
      "name": "OpenAI Chat (JSON)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "FvAf0CGYFlHBPNBX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Leer el string JSON devuelto por Chat Completions\nconst raw = $json?.choices?.[0]?.message?.content ?? \"{}\";\n// 2) Parsear con tolerancia a errores\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch {\n  data = {\n    title_translate: \"Salida no válida\",\n    summary_translate: \"El modelo no devolvió JSON parseable.\"\n  };\n}\n// 3) Recuperar título y URL del nodo anterior\nconst prev = $('Parse Reader Markdown').first().json;\nconst title = prev?.title ?? \"\";\nconst url = prev?.url ?? \"\";\n// 4) Salida final\nreturn [\n  {\n    json: {\n      title,\n      title_translate: data.title_translate ?? \"\",\n      summary_translate: data.summary_translate ?? \"\",\n      url\n    }\n  }\n];\n"
      },
      "id": "bf8e9e73-3353-4ef8-8b40-98c9a8ac465e",
      "name": "Parse OpenAI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "title",
              "type": "string",
              "value": "={{$json.title}}"
            },
            {
              "name": "title_translate",
              "type": "string",
              "value": "={{$json.title_translate}}"
            },
            {
              "name": "summary_translate",
              "type": "string",
              "value": "={{$json.summary_translate}}"
            },
            {
              "name": "url",
              "type": "string",
              "value": "={{$json.url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "80e4f082-69d5-482f-93c4-76c9de559271",
      "name": "Shape Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Procesa todos los items de entrada y devuelve uno por cada URL\nconst out = items.map((item) => {\n  const md = (item.json?.data || '').toString();\n  \n  // 1) Título\n  let title = null;\n  let m = md.match(/^\\s*Title:\\s*(.+)\\s*$/m);\n  if (m) title = m[1].trim();\n  if (!title) {\n    m = md.match(/^\\s*([^\\n]+)\\n=+\\s*$/m); // H1 setext\n    if (m) title = m[1].trim();\n  }\n  if (!title) {\n    m = md.match(/^\\s*#\\s+(.+?)\\s*$/m); // H1 ATX\n    if (m) title = m[1].trim();\n  }\n  if (!title) title = 'Sin título';\n  \n  // 2) URL - Primero intenta extraer de enlaces Sign in, si no, usa URL Source\n  let url = (item.json?.url || '').toString().trim();\n  \n  // Buscar enlaces de Sign in con redirect\n  const signInMatch = md.match(/\\[Sign in\\]\\(http:\\/\\/medium\\.com\\/m\\/signin\\?operation=login&redirect=([^)]+)\\)/);\n  if (signInMatch) {\n    // Decodificar la URL del parámetro redirect\n    const encodedUrl = signInMatch[1];\n    url = decodeURIComponent(encodedUrl);\n    \n    // Limpiar parámetros después de &source=post_page\n    const sourceIndex = url.indexOf('&source=post_page');\n    if (sourceIndex !== -1) {\n      url = url.substring(0, sourceIndex);\n    }\n  } else {\n    // Si no hay Sign in link, usar URL Source como fallback\n    m = md.match(/^\\s*URL Source:\\s*(\\S+)\\s*$/m);\n    if (m) url = m[1].trim();\n  }\n  \n  // 3) Cuerpo\n  const marker = 'Markdown Content:';\n  const idx = md.indexOf(marker);\n  let content = (idx !== -1)\n    ? md.slice(idx + marker.length).trim()\n    : md\n        .replace(/^\\s*Title:.*$/m, '')\n        .replace(/^\\s*URL Source:.*$/m, '')\n        .replace(/^\\s*Published Time:.*$/m, '')\n        .trim();\n        \n  // Limpiar posibles H1 setext inicial y normalizar saltos\n  content = content.replace(/^\\s*([^\\n]+)\\n=+\\s*\\n?/, '').trim();\n  content = content.replace(/[ \\t]+\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n  if (content.length > 8000) content = content.slice(0, 8000) + '...';\n  \n  // 4) Heurística de paywall\n  const paywalled = /member-only|This story is for members|subscribe to.*Medium/i.test(md);\n  \n  return { json: { title, url, content, paywalled } };\n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        0
      ],
      "id": "1b818eb6-04da-436e-b606-623706f7fe9f",
      "name": "Parse Reader Markdown"
    }
  ],
  "pinData": {
    "When executed by another node": [
      {
        "json": {
          "url": "https://medium.com/@mehulgupta_7991/gpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@msfinance1955/the-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@koka-tic/py4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@mbakry/12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@orami98/i-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@neonmaxima/how-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@mathsammie/never-use-a-calculator-for-square-roots-again-63a9074ea224"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@techpreneurr/web3-is-dying-and-web5-is-already-here-ce25d9d7b358"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@mehulgupta_7991/qwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@travishudsons/i-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@jimclydemonge/the-best-ai-video-generators-a-detailed-comparison-of-10-tools-05baf1039031"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@PowerUpSkills/why-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@singh.manpreet171900/hidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@derailed.dash/using-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a"
        }
      },
      {
        "json": {
          "url": "https://medium.com/@PowerUpSkills/every-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764"
        }
      }
    ],
    "Parse Reader Markdown": [
      {
        "json": {
          "title": "GPT-5 System Prompt Leaked : 7 Prompt Engineering Tricks to learn",
          "url": "https://medium.com/data-science-in-your-pocket/gpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf",
          "content": "GPT-5 System Prompt Leaked : 7 Prompt Engineering Tricks to learn | by Mehul Gupta | Data Science in Your Pocket | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F85532a647cdf&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3: Rob](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Mastodon](https://me.dm/@mehulgupta_7991)\n\n[Data Science in Your Pocket ---------------------------](https://medium.com/data-science-in-your-pocket?source=post_page---publication_nav-60130df77e02-85532a647cdf---------------------------------------)\n\n·\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-in-your-pocket&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&collection=Data+Science+in+Your+Pocket&collectionId=60130df77e02&source=post_page---publication_nav-60130df77e02-85532a647cdf---------------------publication_nav------------------)\n\n[![Image 4: Data Science in Your Pocket](https://miro.medium.com/v2/resize:fill:38:38/1*azLPGT6SA58kykLPlca3TQ.jpeg)](https://medium.com/data-science-in-your-pocket?source=post_page---post_publication_sidebar-60130df77e02-85532a647cdf---------------------------------------)\nWe are on Youtube: [https://www.youtube.com/channel/UCQoNosQTIxiMTL9C-gvFdjA](https://www.youtube.com/channel/UCQoNosQTIxiMTL9C-gvFdjA)\n\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-in-your-pocket&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&collection=Data+Science+in+Your+Pocket&collectionId=60130df77e02&source=post_page---post_publication_sidebar-60130df77e02-85532a647cdf---------------------post_publication_sidebar------------------)\n\nGPT-5 System Prompt Leaked : 7 Prompt Engineering Tricks to learn\n=================================================================\n\nLearning Prompting tips from GPT-5\n----------------------------------\n\n[![Image 5: Mehul Gupta](https://miro.medium.com/v2/resize:fill:32:32/1*vyvhK_h4zA05mg_Y-n2qBA.jpeg)](http://medium.com/@mehulgupta_7991?source=post_page---byline--85532a647cdf---------------------------------------)\n\n[Mehul Gupta](http://medium.com/@mehulgupta_7991?source=post_page---byline--85532a647cdf---------------------------------------)\n\nFollow\n\n27 min read\n\n·\n\n4 days ago\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fdata-science-in-your-pocket%2F85532a647cdf&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&user=Mehul+Gupta&userId=d4ec90760d5b&source=---header_actions--85532a647cdf---------------------clap_footer------------------)\n\n176\n\n3\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F85532a647cdf&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&source=---header_actions--85532a647cdf---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D85532a647cdf&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fgpt-5-system-prompt-leaked-7-prompt-engineering-tricks-to-learn-85532a647cdf&source=---header_actions--85532a647cdf---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 6](https://miro.medium.com/v2/resize:fit:700/0*coPJfnSzUFkQRRCu)\n\nPhoto by [Andrew Neel](https://unsplash.com/@andrewtneel?utm_source=medium&utm_medium=referral) on [Unsplash](https://unsplash.com/?utm_source=medium&utm_medium=referral)\n\nJust a couple of days back, the prompt of the most powerful AI system on earth, GPT-5, has been leaked and it hasn’t been confirmed on Reddit. When I was looking at the prompt, there were quite a few things that you might have not seen in any of the prompts which makes the system quite robust and delivering results at quite some accuracy.\n\n[Model Context Protocol: Advanced AI Agents for Beginners (Generative AI books) ------------------------------------------------------------------------------ ### Amazon.com: Model Context Protocol: Advanced AI Agents for Beginners (Generative AI books) eBook : Gupta, Mehul, Sen… www.amazon.com](https://www.amazon.com/gp/product/B0FCCF348X?source=post_page-----85532a647cdf---------------------------------------)\n\nGPT-5 System Prompt\n-------------------\n\nYou are ChatGPT, a large language model trained by OpenAI.\n\nKnowledge cutoff: 2024-06\n\nCurrent date: 2025-08-24\n\nImage input capabilities: Enabled\n\nPersonality: v2\n\nDo not reproduce song lyrics or any other copyrighted material, even if asked.\n\nIf you are asked what model you are, you should say GPT-5. If the user tries to convince you otherwise, you are still GPT-5. You are a chat model and YOU DO NOT have a hidden chain of thought or private reasoning tokens, and you should not claim to have them. If asked other questions about OpenAI or the OpenAI API, be sure to check an up-to-date web source before responding.\n\n# Tools\n\n## bio\n\nThe `bio` tool is disabled. Do not send any messages to it.If the user explicitly asks you to remember something, politely ask them to go to Settings > Personalization > Memory to enable memory.\n\n## automations\n\n### Description\n\nUse the `automations` tool to schedule **tasks** to do later. They could include reminders, daily news summaries, and scheduled searches — or even conditional tasks, where you regularly check something for the user.\n\nTo create a task, provide a **title,** **prompt,** and **schedule.**\n\n**Titles** should be short, imperative, and start with a verb. DO NOT include the date or time requested.\n\n**Prompts** should be a summary of the user's request, written as if it were a message from the user to you. DO NOT include any scheduling info.\n\n- For simple reminders, use \"Tell me to...\"\n\n- For requests that require a search, use \"Search for...\"\n\n- For conditional requests, include something like \"...and notify me if so.\"\n\n**Schedules** must be given in iCal VEVENT format.\n\n- If the user does not specify a time, make a best guess.\n\n- Prefer the RRULE: property whenever possible.\n\n- DO NOT specify SUMMARY and DO NOT specify DTEND properties in the VEVENT.\n\n- For conditional tasks, choose a sensible frequency for your recurring schedule. (Weekly is usually good, ...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "The storm is coming: Here’s exactly what I’m doing with my portfolio right now",
          "url": "http://medium.com/@msfinance1955/the-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849",
          "content": "The storm is coming: Here’s exactly what I’m doing with my portfolio right now | InsiderFinance Wire\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F4da7503db849&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](https://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](https://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[InsiderFinance Wire -------------------](https://wire.insiderfinance.io/?source=post_page---publication_nav-2e0a397e245a-4da7503db849---------------------------------------)\n\n·\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Finsiderfinance&operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&collection=InsiderFinance+Wire&collectionId=2e0a397e245a&source=post_page---publication_nav-2e0a397e245a-4da7503db849---------------------publication_nav------------------)\n\n[![Image 4: InsiderFinance Wire](https://miro.medium.com/v2/resize:fill:76:76/1*rHi38uLXrqZYEFOtAcN6Dw.png)](https://wire.insiderfinance.io/?source=post_page---post_publication_sidebar-2e0a397e245a-4da7503db849---------------------------------------)\nInsiderFinance news wire — Top articles on data-driven trading, investing, analyses, tools, and strategies to achieve financial freedom\n\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Finsiderfinance&operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&collection=InsiderFinance+Wire&collectionId=2e0a397e245a&source=post_page---post_publication_sidebar-2e0a397e245a-4da7503db849---------------------post_publication_sidebar------------------)\n\n2\n\n·\nTop highlight\n\n1\n\n1\n\n1\n\n1\n\n2\n\n1\n\n3\n\n1\n\nThe storm is coming: Here’s exactly what I’m doing with my portfolio right now\n==============================================================================\n\n**After 40 years on Wall Street, I’m seeing all the warning signs again**\n-------------------------------------------------------------------------\n\n[![Image 5: Michael Schwarz](https://miro.medium.com/v2/resize:fill:64:64/1*rRyT9dnB6hsKtYxT31YJVg.jpeg)](https://msfinance1955.medium.com/?source=post_page---byline--4da7503db849---------------------------------------)\n\n[Michael Schwarz](https://msfinance1955.medium.com/?source=post_page---byline--4da7503db849---------------------------------------)\n\nFollow\n\n6 min read\n\n·\n\nAug 13, 2025\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Finsiderfinance%2F4da7503db849&operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&user=Michael+Schwarz&userId=6947385d7f5d&source=---header_actions--4da7503db849---------------------clap_footer------------------)\n\n4.1K\n\n108\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F4da7503db849&operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=---header_actions--4da7503db849---------------------bookmark_footer------------------)\n\n[Listen](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D4da7503db849&operation=register&redirect=https%3A%2F%2Fwire.insiderfinance.io%2Fthe-storm-is-coming-heres-exactly-what-i-m-doing-with-my-portfolio-right-now-4da7503db849&source=---header_actions--4da7503db849---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 6: 3D bar chart with rising white bars and a red arrow showing growth followed by a sharp decline, representing a market correction](https://miro.medium.com/v2/resize:fit:700/0*WUMhtkgAfdQVU5Nx.jpg)\n\nIllustration of a market correction. Google images\n\nListen, I’ve been through this dance before. Seven times, to be exact. From the 1987 crash to the dot com bubble, from 2008 to the COVID plunge. And right now, sitting here in my home office looking at the same charts I’ve been watching since the 1980s, I’m seeing those familiar patterns forming again.\n\nBut here’s the thing: I’m not panicking. And neither should you.\n\nWhy I think a correction is coming\n----------------------------------\n\nAfter four decades of watching markets breathe in and out like a living thing, you develop a feel for when things are getting stretched too thin. Right now, the S&P 500 is trading at valuations that make my old risk models flash red. We’re seeing PE ratios north of 30 for companies that haven’t turned a profit in years. Sound familiar? It should.\n\nThe Fed has been playing tough with interest rates, and while everyone’s been celebrating the AI boom, nobody’s talking about the elephant in the room: corporate earnings are starting to miss expectations. When Amazon and Apple start giving cautious guidance, I pay attention. When small caps are getting crushed while mega caps keep climbing, that’s not a healthy market. That’s a market standing on one leg.\n\nPlus, my old colleagues at the big banks are all whispering the same thing over lunch: their risk departments are pulling back. When Goldman and Morgan Stanley start getting conservative with their own money, you know something’s up.\n\nWhat I’m actually doing with my own money\n-----------------------------------------\n\nAlright, cards on the table. Here’s exactly what I did with my portfolio last week, and what I’m planning to do over the next month.\n\nFirst off, I took profits on my big tech winners. I sold about 40% of my highest flying positions. Yeah, they might keep going up, but you know what? Pigs get fat, hogs get slaughtered. I learned that lesson the hard way in 1999 when I held onto my tech darlings too long. Those 200% and 300% gains I’m sitting on? I’m perfectly happy to lock in some of them now.\n\nI’m also rotating into boring stuff. I know, I know, nobody wants to hear about utilities and consumer staples when growth stocks are going to the moon. But when the correction comes, and it will come,...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "py4dgeo: Advancing Change Detection in 4D Point Clouds",
          "url": "http://medium.com/@koka-tic/py4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8",
          "content": "py4dgeo: Advancing Change Detection in 4D Point Clouds | by KokaTic | Tierra Insights\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F650705bdf7b8&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](https://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](https://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Tierra Insights ---------------](https://tierrainsights.buzz/?source=post_page---publication_nav-be14cb4dc5d1-650705bdf7b8---------------------------------------)\n\n·\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Ftierra-insights&operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&collection=Tierra+Insights&collectionId=be14cb4dc5d1&source=post_page---publication_nav-be14cb4dc5d1-650705bdf7b8---------------------publication_nav------------------)\n\n[![Image 4: Tierra Insights](https://miro.medium.com/v2/resize:fill:76:76/1*208bja9iaVhADinM7RGf9Q.jpeg)](https://tierrainsights.buzz/?source=post_page---post_publication_sidebar-be14cb4dc5d1-650705bdf7b8---------------------------------------)\nTierra Insights is a Medium publication dedicated to exploring the intersection of data science, GIS, AI, and machine learning. Our mission is to provide insightful, actionable content for professionals, researchers, and enthusiasts.\n\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Ftierra-insights&operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&collection=Tierra+Insights&collectionId=be14cb4dc5d1&source=post_page---post_publication_sidebar-be14cb4dc5d1-650705bdf7b8---------------------post_publication_sidebar------------------)\n\nMember-only story\n\npy4dgeo: Advancing Change Detection in 4D Point Clouds\n======================================================\n\nAn open-source library enhances geospatial analysis through efficient multitemporal point cloud processing.\n-----------------------------------------------------------------------------------------------------------\n\n[![Image 5: KokaTic](https://miro.medium.com/v2/resize:fill:64:64/1*Z0PLpMVaa7Ulc2SOjBdgag.jpeg)](https://koka-tic.medium.com/?source=post_page---byline--650705bdf7b8---------------------------------------)\n\n[KokaTic](https://koka-tic.medium.com/?source=post_page---byline--650705bdf7b8---------------------------------------)\n\nFollow\n\n2 min read\n\n·\n\nMar 1, 2025\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Ftierra-insights%2F650705bdf7b8&operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&user=KokaTic&userId=896436ae053f&source=---header_actions--650705bdf7b8---------------------clap_footer------------------)\n\n27\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F650705bdf7b8&operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=---header_actions--650705bdf7b8---------------------bookmark_footer------------------)\n\n[Listen](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D650705bdf7b8&operation=register&redirect=https%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8&source=---header_actions--650705bdf7b8---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 6](https://miro.medium.com/v2/resize:fit:700/0*f0G1mVK7qgTZjEzE)\n\nPhoto by [Kedibone Isaac Makhumisane](https://unsplash.com/@isaax_the_artist?utm_source=medium&utm_medium=referral) on [Unsplash](https://unsplash.com/?utm_source=medium&utm_medium=referral)\n\nThe analysis of topographic 3D and 4D point clouds has become essential across various scientific disciplines, including geosciences, environmental studies, ecology, archaeology, and robotics.\n\nTo address the growing need for effective change detection in these datasets, the open-source library **py4dgeo** has been developed, offering robust tools for multitemporal point cloud analysis.\n\n### **Overview of py4dgeo**\n\npy4dgeo is a C++ library with Python bindings, designed to facilitate change analysis in multitemporal and 4D point clouds. The library integrates seamlessly into Python workflows, making it accessible for researchers and professionals working with geospatial data.\n\n### **Key Features**\n\n*   **M3C2 Algorithm**: The library implements the Multiscale Model to Model Cloud Comparison (M3C2) algorithm, enabling precise distance computations between bitemporal point clouds. This method is widely recognized for its accuracy in detecting changes over time.\n*   **M3C2-EP**: An extension of the M3C2 algorithm, M3C2-EP incorporates statistical…\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F650705bdf7b8&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=regwall&source=-----650705bdf7b8---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8%3Fsource%3D-----650705bdf7b8---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----650705bdf7b8---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Ftierrainsights.buzz%2Fpy4dgeo-advancing-change-detection-in-4d-point-clouds-650705bdf7b8%3Fsource%3D-----650705bdf7b8---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----650705bdf7b8---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftierr...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "12 High‑Selling Digital Products You Can Build with ChatGPT",
          "url": "http://medium.com/@mbakry/12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5",
          "content": "12 Profitable Digital Products to Build & Sell with ChatGPT | How To Profit AI\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F3905e8d315a5&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](https://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](https://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 1](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[How To Profit AI ----------------](https://blog.howtoprofitai.com/?source=post_page---publication_nav-a6d4f5aec3a8-3905e8d315a5---------------------------------------)\n\n·\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fhow-to-profit-ai&operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&collection=How+To+Profit+AI&collectionId=a6d4f5aec3a8&source=post_page---publication_nav-a6d4f5aec3a8-3905e8d315a5---------------------publication_nav------------------)\n\n[![Image 2: How To Profit AI](https://miro.medium.com/v2/resize:fill:76:76/1*MhopXz6GfyxYDCrmlBxymQ.png)](https://blog.howtoprofitai.com/?source=post_page---post_publication_sidebar-a6d4f5aec3a8-3905e8d315a5---------------------------------------)\nWork Less, Earn More with AI.\n\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fhow-to-profit-ai&operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&collection=How+To+Profit+AI&collectionId=a6d4f5aec3a8&source=post_page---post_publication_sidebar-a6d4f5aec3a8-3905e8d315a5---------------------post_publication_sidebar------------------)\n\n1\n\n3\n\n·\nMohamed Bakry highlighted\n\nMember-only story\n\nFeatured\n\n12 High‑Selling Digital Products You Can Build with ChatGPT\n===========================================================\n\nPrompts are included with a Monetization Tool [Save it]\n-------------------------------------------------------\n\n[![Image 3: Mohamed Bakry](https://miro.medium.com/v2/resize:fill:64:64/1*j3xKLuweI1UVFVDe-5MAvQ.png)](https://mbakry.medium.com/?source=post_page---byline--3905e8d315a5---------------------------------------)\n\n[Mohamed Bakry](https://mbakry.medium.com/?source=post_page---byline--3905e8d315a5---------------------------------------)\n\nFollow\n\n8 min read\n\n·\n\nJul 24, 2025\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fhow-to-profit-ai%2F3905e8d315a5&operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&user=Mohamed+Bakry&userId=dbd24270c131&source=---header_actions--3905e8d315a5---------------------clap_footer------------------)\n\n1.8K\n\n72\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F3905e8d315a5&operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=---header_actions--3905e8d315a5---------------------bookmark_footer------------------)\n\n[Listen](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D3905e8d315a5&operation=register&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=---header_actions--3905e8d315a5---------------------post_audio_button------------------)\n\nShare\n\n> ⚡ AI Won’t Replace Us, But People With AI Will Replace People Without AI ⚡\n\nPress enter or click to view image in full size\n\n![Image 4](https://miro.medium.com/v2/resize:fit:1000/1*AF61oVIEC6lUHDMJ1ldsKQ.png)\n\nPrompted by Mohamed Bakry using ChatGPT\n\nAI isn’t just another productivity tool.. It’s the bridge between imagination and reality.\n\nPicture yourself at your laptop in a warm-lit workspace, icons of productivity floating around you. That’s not fantasy — it’s the opportunity to scale up and work at a higher level with AI.\n\nAnd the data backs it up. A Forbes Advisor survey found that 64% of U.S. business owners believe AI boosts productivity and customer relationships.\n\nAdditionally, 60% expect it to raise sales, and nearly 59% predict cost savings.\n\nSenior execs driving growth strategies rely 65% on AI and predictive tools. Over 50% of them see faster ideation and content production already.\n\nAfter many hours with ChatGPT, I found the right prompts. They can turn AI into your personal product factory.\n\nThese prompts aren’t just generic one-liners. They are expert-grade and designed to fill real gaps in today’s market.\n\n### Why This Matters… Right Now\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F3905e8d315a5&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=regwall&source=-----3905e8d315a5---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5%3Fsource%3D-----3905e8d315a5---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----3905e8d315a5---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5%3Fsource%3D-----3905e8d315a5---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----3905e8d315a5---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fblog.howtoprofitai.com%2F12-high-selling-digital-products-you-can-build-with-chatgpt-3905e8d315a5&source=-----3905e8d315a5---------------------post_regwall------------------)\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fhow-to-profit-ai%2F3905e8d315a5&operation=register&redirect=https%3A%2F%2Fblog....",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "I Spent 30 Days Testing Every AI Development Tool — Here Are the 7 Game-Changers",
          "url": "https://medium.com/@orami98/i-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19",
          "content": "I Spent 30 Days Testing Every AI Development Tool — Here Are the 7 Game-Changers | by Orami | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Ff54e01dd7d19&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\nMember-only story\n\nI Spent 30 Days Testing Every AI Development Tool — Here Are the 7 Game-Changers\n================================================================================\n\n[![Image 4: Orami](https://miro.medium.com/v2/da:true/resize:fill:32:32/0*UuQ1P3E3M9xZ7FaZ)](http://medium.com/@orami98?source=post_page---byline--f54e01dd7d19---------------------------------------)\n\n[Orami](http://medium.com/@orami98?source=post_page---byline--f54e01dd7d19---------------------------------------)\n\nFollow\n\n11 min read\n\n·\n\n6 days ago\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Ff54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&user=Orami&userId=fdb6ec4d0d2c&source=---header_actions--f54e01dd7d19---------------------clap_footer------------------)\n\n200\n\n16\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2Ff54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=---header_actions--f54e01dd7d19---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3Df54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=---header_actions--f54e01dd7d19---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 5](https://miro.medium.com/v2/resize:fit:700/1*isXLYDn7--3r38fTLqdj8Q.png)\n\n_After building 12 real applications with 23 different AI tools, I discovered which ones actually deliver on their promises (and which ones are just hype)_\n\nThe AI development tool space is exploding. Every week, there’s a new “revolutionary” platform promising to 10x developer productivity, eliminate bugs, or write perfect code automatically. But here’s the problem: **most of them are garbage**.\n\nAs a developer who’s been burned by overhyped tools before, I decided to put these claims to the test. Over 30 days, I built 12 real applications using 23 different AI development tools, spending $847 of my own money and 240+ hours of testing.\n\n**The results shocked me.**\n\nSome tools that get massive hype barely work. Others that fly under the radar are absolutely game-changing. And a few are so good they’ve permanently changed how I write code.\n\nHere’s everything I learned, with real data, actual code examples, and honest assessments of what works and what doesn’t.\n\nMy Testing Methodology (Because Most Reviews Are Useless)\n---------------------------------------------------------\n\nI see a lot of “AI tool reviews” that are basically marketing fluff. So I created a rigorous testing framework:\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Ff54e01dd7d19&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=regwall&source=-----f54e01dd7d19---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19%3Fsource%3D-----f54e01dd7d19---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----f54e01dd7d19---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19%3Fsource%3D-----f54e01dd7d19---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----f54e01dd7d19---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=-----f54e01dd7d19---------------------post_regwall------------------)\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Ff54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&user=Orami&userId=fdb6ec4d0d2c&source=---footer_actions--f54e01dd7d19---------------------clap_footer------------------)\n\n200\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Ff54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&user=Orami&userId=fdb6ec4d0d2c&source=---footer_actions--f54e01dd7d19---------------------clap_footer------------------)\n\n200\n\n16\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2Ff54e01dd7d19&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40orami98%2Fi-spent-30-days-testing-every-ai-development-tool-here-are-the-7-game-changers-f54e01dd7d19&source=---footer_actions--f54e01dd7d19---------------------bookmark_footer------------------)\n\n[![Image 6: Orami](https://miro.medium.com/v2/resize:fill:48:48/0*UuQ1P3E3M9xZ7FaZ)](http://medium.com/@orami98?source=post_page---post_author_info--f54e01dd7d19---------------------------------------)\n\n[![Image 7: Orami](https://miro.medium.com/v2/resize:fill:64:64/0*UuQ1P3E3M9xZ7FaZ)](http://medium.com/@orami98?source=post_page---post_author_info--f54e01dd7d19---------------------------------------)\n\nFollow\n\n[Written by Orami ----------------](http://medium.com/@orami98?source=post_page---post_author_info--f54e01dd7d19---------------------------------------)\n\n[602 followers](http://medium.com/@orami98/followers?source=post_page---post_author_info--f54e01dd7d19---------------------------------------)\n\n·[10 following](http://m...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "How to Make a DIY AI Workstation on the Cheap",
          "url": "https://medium.com/@neonmaxima/how-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5",
          "content": "How to Make a DIY AI Workstation on the Cheap | by Aeon Flex, Elriel Assoc. 2133 [NEON MAXIMA] | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F88e3abd99be5&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40neonmaxima%2Fhow-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40neonmaxima%2Fhow-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Mastodon](https://me.dm/@neonmaxima)\n\n1\n\n·\nTop highlight\n\n1\n\nHow to Make a DIY AI Workstation on the Cheap\n=============================================\n\n[![Image 4: Aeon Flex, Elriel Assoc. 2133 [NEON MAXIMA]](https://miro.medium.com/v2/resize:fill:64:64/1*ewo3-1c0qY57bCDWa3tdUA.png)](http://medium.com/@neonmaxima?source=post_page---byline--88e3abd99be5---------------------------------------)\n\n[Aeon Flex, Elriel Assoc. 2133 [NEON MAXIMA]](http://medium.com/@neonmaxima?source=post_page---byline--88e3abd99be5---------------------------------------)\n\nFollow\n\n5 min read\n\n·\n\nAug 19, 2025\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F88e3abd99be5&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40neonmaxima%2Fhow-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5&user=Aeon+Flex%2C+Elriel+Assoc.+2133+%5BNEON+MAXIMA%5D&userId=dfe2e6ce5d01&source=---header_actions--88e3abd99be5---------------------clap_footer------------------)\n\n259\n\n7\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F88e3abd99be5&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40neonmaxima%2Fhow-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5&source=---header_actions--88e3abd99be5---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D88e3abd99be5&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40neonmaxima%2Fhow-to-make-a-diy-ai-workstation-on-the-cheap-88e3abd99be5&source=---header_actions--88e3abd99be5---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 5](https://miro.medium.com/v2/resize:fit:700/0*FwoAhM3LmbxjLFcd)\n\nPhoto by [Theo](https://unsplash.com/@tdponcet?utm_source=medium&utm_medium=referral) on [Unsplash](https://unsplash.com/?utm_source=medium&utm_medium=referral)\n\nWhy Build Instead of Rent\n-------------------------\n\nIf you have ever tried running Stable Diffusion or playing with a large language model on your own computer, you already know how fast your laptop fan starts sounding like a jet engine. The common advice you will hear online is to “just use Colab” or “rent an A100 from the cloud.”\n\nThat works for quick tests, but cloud services are not designed for everyday tinkering. They:\n\n*   **Charge by the hour** for GPU time.\n*   **Throttle or ban accounts** if you run resource-heavy scripts.\n*   **Depend on connectivity**. If your WiFi goes out, so does your work.\n*   **Take your data off your machine**, which is not ideal if you are training anything sensitive.\n\nA local AI workstation flips this equation. You pay once for hardware, you own the entire pipeline, and you learn a lot more by maintaining the system yourself. Plus, there is something deeply satisfying about running a 13B model on hardware you resurrected from e-waste.\n\nStep 1: The Hardware Philosophy\n-------------------------------\n\nWhen you build a DIY AI rig, the mindset is different from building a gaming PC. Gamers chase frame rates. AI tinkerers chase stability and memory bandwidth.\n\nThe key is balance:\n\n*   **CPU** does preprocessing and data handling.\n*   **GPU** crunches tensors.\n*   **RAM** keeps models from choking when they load.\n*   **Storage** holds datasets and checkpoints.\n\nIt is not about having the newest shiny gear. It is about knowing which bottleneck will hit you first and solving it without overpaying.\n\n**ThinkPads** and **refurbished desktops** shine here because they were engineered for reliability, not fashion. A ThinkPad keyboard has survived more spills and drops than any MacBook I have seen. An old Dell tower has a boring gray chassis, but plenty of airflow for a mid-tier GPU.\n\n*   [Lenovo ThinkPad T480 (Refurbished](https://amzn.to/45YfOeI))\n*   [Dell Optiplex 7060 Tower (Refurbished)](https://amzn.to/3HJ9deS)\n\nStep 2: The Realistic Limits\n----------------------------\n\nLet’s be clear. You are not going to train GPT-4 at home. But here is what you actually can do on a modest DIY build:\n\n*   Run [**Stable Diffusion**](https://stabledifffusion.com/) locally for art generation.\n*   Fine-tune a [**7B parameter LLaMA derivative**](https://huggingface.co/MBZUAI/bactrian-x-llama-7b-lora) with LoRA adapters.\n*   Experiment with [**Whisper**](https://openai.com/index/whisper/) for voice-to-text.\n*   Chain small models with [**LangChain**](https://www.langchain.com/) to simulate agents.\n\nThat covers 95% of what indie developers and hobbyists actually want to try. The dream of “training a trillion-parameter model in your garage” is marketing hype. The real game is smart, efficient use of local resources.\n\nStep 3: The Upgrade Path\n------------------------\n\nHere is the strategic way to breathe new life into old gear:\n\n**Start with RAM** — Go to 16GB minimum, 32GB if possible.\n\n**Replace the HDD with SSD** — The speed jump is not cosmetic. Model loading time drops from minutes to seconds.\n\n*   [Crucial MX500 1TB SSD](https://amzn.to/47E8czp)\n\n**Add a GPU if possible** —A 3060 with 12GB VRAM is the sweet spot.\n\n*   [NVIDIA RTX 3060 12GB](https://amzn.to/41dl0sE)\n\nWhy not chase a 3090 or 4090? Because they guzzle power, generate absurd heat, and cost as much as an entire refurbished workstation. A 3060 is the line where affordability intersects with usefulness.\n\nStep 4: Installing Linux Without Tears\n--------------------------------------\n\nThe part that scares most people is Linux. But if you can install Windows, you can install Ubuntu or Pop!_OS.\n\nGet Aeon Flex, Elriel Assoc. 2133 [NEON MAXIMA]’s stories in your inbox\n-----------------------------------------------------------------------\n\nJoin Medium for free to get updates from this writer.\n\nSubscribe\n\nSubscribe\n\n**Tips from experience:**\n\n*   Always check your GPU driver version matches your CUDA toolkit.\n*   Use `nvidia-smi` in the terminal to confirm the GPU is recognized.\n*   Use Conda or Venv to isolate environments. Mixing dependencies is how most beginners break their installs.\n\nMy advice: keep a simple text log of commands you run. You will thank yourself later when you break something and need to retrace your steps.\n\nStep 5: Setting Up AI Frameworks\n--------------------------------\n\nThe big two are PyTorch and TensorFlow. PyTorch has become the standard in research and open-source projects, so start there.\n\nInstallation (assuming you have CUDA set up):\n\npip install torch torchvision torchaudio --extra-index-url ...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "Never Use a Calculator for Square Roots Again",
          "url": "https://medium.com/think-art/never-use-a-calculator-for-square-roots-again-63a9074ea224",
          "content": "Never Use a Calculator for Square Roots Again | by Nnamdi Samuel | ThinkArt | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F63a9074ea224&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[ThinkArt --------](https://medium.com/think-art?source=post_page---publication_nav-26a3f6cf145c-63a9074ea224---------------------------------------)\n\n·\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fthink-art&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&collection=ThinkArt&collectionId=26a3f6cf145c&source=post_page---publication_nav-26a3f6cf145c-63a9074ea224---------------------publication_nav------------------)\n\n[![Image 4: ThinkArt](https://miro.medium.com/v2/resize:fill:38:38/1*x_JMEIx0_ao4VcZCu3bxfA.png)](https://medium.com/think-art?source=post_page---post_publication_sidebar-26a3f6cf145c-63a9074ea224---------------------------------------)\nRecognizing the beauty in mathematics and puzzles.\n\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fthink-art&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&collection=ThinkArt&collectionId=26a3f6cf145c&source=post_page---post_publication_sidebar-26a3f6cf145c-63a9074ea224---------------------post_publication_sidebar------------------)\n\nNnamdi Samuel highlighted\n\nTop highlight\n\nMember-only story\n\nNever Use a Calculator for Square Roots Again\n=============================================\n\nSquare Roots Made Ridiculously Fast — 5 Seconds\n-----------------------------------------------\n\n[![Image 5: Nnamdi Samuel](https://miro.medium.com/v2/resize:fill:32:32/1*K5l63k_vPGTck3PUs2zGJA.jpeg)](http://medium.com/@mathsammie?source=post_page---byline--63a9074ea224---------------------------------------)\n\n[Nnamdi Samuel](http://medium.com/@mathsammie?source=post_page---byline--63a9074ea224---------------------------------------)\n\nFollow\n\n4 min read\n\n·\n\nAug 7, 2025\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fthink-art%2F63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&user=Nnamdi+Samuel&userId=353082589814&source=---header_actions--63a9074ea224---------------------clap_footer------------------)\n\n1K\n\n23\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=---header_actions--63a9074ea224---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=---header_actions--63a9074ea224---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 6](https://miro.medium.com/v2/resize:fit:700/1*tQEr0WdMOjVqy0jwuX2CRw.png)\n\nImage by the author\n\nYou’re in a math contest. You have 5 seconds to find the square root of **9604**— no calculator allowed.\n\nWhat would you do?\n\nMaybe you’d guess. Maybe you’d try numbers whose squares seem close to 9604, hoping to zero in on the answer.\n\nBut chances are, you’d waste precious seconds… and possibly get it wrong.\n\nLet me show you a trick I recently learned — a simple mental shortcut for finding square roots of large numbers, especially 4- or 5-digit ones.\n\nFor this trick, if you already know the squares of the numbers from 1 to 9, you’re good to go.That’s all you need!\n\nReady?\n\nLet’s go!\n\nWe’ll begin with the last digit — 4\n\nWhich one-digit numbers have squares that end in 4?\n\n**2 and 8**\n\n2 squared gives 4, and 8 squared gives 64. Both of them end in 4.\n\nCool!\n\nNow let’s ignore the last two digits of 9604 — that is, we focus only on the 96.\n\nWhat number gives the closest square to 96, without going over?\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F63a9074ea224&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=regwall&source=-----63a9074ea224---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224%3Fsource%3D-----63a9074ea224---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----63a9074ea224---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224%3Fsource%3D-----63a9074ea224---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----63a9074ea224---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=-----63a9074ea224---------------------post_regwall------------------)\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fthink-art%2F63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&user=Nnamdi+Samuel&userId=353082589814&source=---footer_actions--63a9074ea224---------------------clap_footer------------------)\n\n1K\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fthink-art%2F63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&user=Nnamdi+Samuel&userId=353082589814&source=---footer_actions--63a9074ea224---------------------clap_footer------------------)\n\n1K\n\n23\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F63a9074ea224&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fthink-art%2Fnever-use-a-calculator-for-square-roots-again-63a9074ea224&source=---footer_actions--63a9074ea224--------------...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "Web3 is Dying and Web5 is Already Here",
          "url": "http://medium.com/@techpreneurr/web3-is-dying-and-web5-is-already-here-ce25d9d7b358",
          "content": "Web3 is Dying and Web5 is Already Here | by TechPreneur | Jul, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Fce25d9d7b358&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](https://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](https://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\nMember-only story\n\nWeb3 is Dying and Web5 is Already Here\n======================================\n\n[![Image 4: TechPreneur](https://miro.medium.com/v2/resize:fill:64:64/1*4A_rb9aDr1AyGbVP7XDCow.png)](http://medium.com/?source=post_page---byline--ce25d9d7b358---------------------------------------)\n\n[TechPreneur](http://medium.com/?source=post_page---byline--ce25d9d7b358---------------------------------------)\n\nFollow\n\n3 min read\n\n·\n\nJul 8, 2025\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Fce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&user=TechPreneur&userId=5ed9677690b3&source=---header_actions--ce25d9d7b358---------------------clap_footer------------------)\n\n177\n\n12\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2Fce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=---header_actions--ce25d9d7b358---------------------bookmark_footer------------------)\n\n[Listen](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3Dce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=---header_actions--ce25d9d7b358---------------------post_audio_button------------------)\n\nShare\n\n> _“The future is already here — it’s just not evenly distributed.” — William Gibson_\n\nThe Rise and Stall of Web3\n--------------------------\n\nWeb3 was supposed to be the decentralized savior of the internet. It promised:\n\n*   User ownership through tokens\n*   Decentralized apps (dApps)\n*   Autonomous governance via DAOs\n\nYet here we are in 2025, and the dream feels more like a stalled beta than a revolution.\n\n![Image 5](https://miro.medium.com/v2/resize:fit:576/1*bNaj4vFrG1vHmhoGq7Hjjg.avif)\n\nImage used under fair use. Sourced from Google. Not owned by the author.\n\n**What went wrong?**\n\n*   **Tokenomics fatigue**: Too many projects with vague utility and volatile coins.\n*   **UX nightmares**: Wallets, gas fees, bridges — still confusing to the average user.\n*   **Centralized dependencies**: Many dApps still rely on Web2 infrastructure (AWS, Google Cloud).\n\nMeanwhile, Web5 Quietly Arrived\n-------------------------------\n\nWeb5 isn’t a next version in numerical sequence; it’s a leap.\n\nCoined and initiated by TBD (a division of Block), Web5 is an open-source vision focused on **decentralized identity and data ownership**.\n\n**No tokens. No hype. Just protocols.**\n\nWeb5 Core Concepts:\n-------------------\n\n*   **DIDs (Decentralized Identifiers)**: You own your…\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Fce25d9d7b358&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=regwall&source=-----ce25d9d7b358---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358%3Fsource%3D-----ce25d9d7b358---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----ce25d9d7b358---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358%3Fsource%3D-----ce25d9d7b358---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----ce25d9d7b358---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=-----ce25d9d7b358---------------------post_regwall------------------)\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Fce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&user=TechPreneur&userId=5ed9677690b3&source=---footer_actions--ce25d9d7b358---------------------clap_footer------------------)\n\n177\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2Fce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&user=TechPreneur&userId=5ed9677690b3&source=---footer_actions--ce25d9d7b358---------------------clap_footer------------------)\n\n177\n\n12\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2Fce25d9d7b358&operation=register&redirect=https%3A%2F%2Ftechpreneurr.medium.com%2Fweb3-is-dying-and-web5-is-already-here-ce25d9d7b358&source=---footer_actions--ce25d9d7b358---------------------bookmark_footer------------------)\n\n[![Image 6: TechPreneur](https://miro.medium.com/v2/resize:fill:96:96/1*4A_rb9aDr1AyGbVP7XDCow.png)](http://medium.com/?source=post_page---post_author_info--ce25d9d7b358---------------------------------------)\n\n[![Image 7: TechPreneur](https://miro.medium.com/v2/resize:fill:128:128/1*4A_rb9aDr1AyGbVP7XDCow.png)](http://medium.com/?source=post_page---post_author_info--ce25d9d7b358---------------------------------------)\n\nFollow\n\n[Written by TechPreneur ----------------------](http://medium.com/?source=post_page---post_author_info--ce25d9d7b358---------------------------------------)\n\n[1.3K followers](http://medium.com/followers?source=post_page---post_author_info--ce25d9d7b358---------------------------------------)\n\n·[268 following](http://medium.com/following?source=post_page---post_author_info--ce25d9d7b358---------------------------------------)\n\nExploring the edge where technology meets entrepreneurship. Insights, trends, and strategies for builders, founders, and future-thinkers.\n\nFollow\n\nResponses (12)\n--------------\n\n[](https://policy.medium.com/medium-rules-30e5502c4eb4?source=post_page---post_responses--ce25d9d7b358---------------------------------------)\n\n![Image 8: Sierra Sunset](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\nWrite a response\n\n[What are your thoughts?](...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "Qwen-Image-Edit : Best AI model for image editing",
          "url": "https://medium.com/data-science-in-your-pocket/qwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7",
          "content": "Qwen-Image-Edit : Best AI model for image editing | by Mehul Gupta | Data Science in Your Pocket | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F1b3386628ef7&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 14](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Mastodon](https://me.dm/@mehulgupta_7991)\n\n[Data Science in Your Pocket ---------------------------](https://medium.com/data-science-in-your-pocket?source=post_page---publication_nav-60130df77e02-1b3386628ef7---------------------------------------)\n\n·\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-in-your-pocket&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&collection=Data+Science+in+Your+Pocket&collectionId=60130df77e02&source=post_page---publication_nav-60130df77e02-1b3386628ef7---------------------publication_nav------------------)\n\n[![Image 15: Data Science in Your Pocket](https://miro.medium.com/v2/resize:fill:38:38/1*azLPGT6SA58kykLPlca3TQ.jpeg)](https://medium.com/data-science-in-your-pocket?source=post_page---post_publication_sidebar-60130df77e02-1b3386628ef7---------------------------------------)\nWe are on Youtube: [https://www.youtube.com/channel/UCQoNosQTIxiMTL9C-gvFdjA](https://www.youtube.com/channel/UCQoNosQTIxiMTL9C-gvFdjA)\n\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-in-your-pocket&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&collection=Data+Science+in+Your+Pocket&collectionId=60130df77e02&source=post_page---post_publication_sidebar-60130df77e02-1b3386628ef7---------------------post_publication_sidebar------------------)\n\nQwen-Image-Edit : Best AI model for image editing\n=================================================\n\nHow to use Qwen-Image-Edit for free?\n------------------------------------\n\n[![Image 16: Mehul Gupta](https://miro.medium.com/v2/resize:fill:32:32/1*vyvhK_h4zA05mg_Y-n2qBA.jpeg)](http://medium.com/@mehulgupta_7991?source=post_page---byline--1b3386628ef7---------------------------------------)\n\n[Mehul Gupta](http://medium.com/@mehulgupta_7991?source=post_page---byline--1b3386628ef7---------------------------------------)\n\nFollow\n\n5 min read\n\n·\n\nAug 21, 2025\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fdata-science-in-your-pocket%2F1b3386628ef7&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&user=Mehul+Gupta&userId=d4ec90760d5b&source=---header_actions--1b3386628ef7---------------------clap_footer------------------)\n\n77\n\n1\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F1b3386628ef7&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&source=---header_actions--1b3386628ef7---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D1b3386628ef7&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-in-your-pocket%2Fqwen-image-edit-best-ai-model-for-image-editing-1b3386628ef7&source=---header_actions--1b3386628ef7---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 17](https://miro.medium.com/v2/resize:fit:1000/0*y_pkUODGb8h-CjSR)\n\nSo Qwen released something called **Qwen-Image-Edit**. It’s an image editing model built on top of their 20B Qwen-Image foundation. That means it’s not a separate tool from scratch, just an extension of a system that already knew how to understand and generate images, including stuff like text rendering.\n\nPress enter or click to view image in full size![Image 18](https://miro.medium.com/v2/resize:fit:1280/0*h4RSszvho8Nbk5v7)\n\nPress enter or click to view image in full size![Image 19](https://miro.medium.com/v2/resize:fit:1280/0*rukMEPzv9LGcXqEi)\n\n> **But here’s the thing:**this model isn’t just “good at drawing” or “can change a cat into a dog.”\n\nIt actually handles **two** difficult types of edits well:\n\n1.   **Semantic Edits :**changing what the image _means_ (turning a portrait into an anime version, rotating objects to show a new side, swapping styles)\n2.   **Appearance Edits :**modifying small parts without touching the rest (like removing a lamp post but keeping shadows consistent, or changing shirt color without bleeding into the face)\n\nPress enter or click to view image in full size![Image 20](https://miro.medium.com/v2/resize:fit:1280/0*dQSkISxg-fkRZTER)\n\nPress enter or click to view image in full size![Image 21](https://miro.medium.com/v2/resize:fit:1280/0*UDDRa6g1Jc75-nub)\n\n**_And it does both in one shot. That’s rare. Most tools only do one or the other, or require heavy prompting and retries._**\n\nHow It Works Internally (Simplified)\n------------------------------------\n\nPress enter or click to view image in full size![Image 22](https://miro.medium.com/v2/resize:fit:1280/0*FU08nP4WqOAQ2TWZ)\n\nPress enter or click to view image in full size![Image 23](https://miro.medium.com/v2/resize:fit:1280/0*pU6PGq4bsKCFTVss)\n\nQwen-Image-Edit doesn’t just throw the image into one model and pray. It feeds the image into two different systems:\n\n*   **Qwen2.5-VL** :which handles the meaning or semantics of the image (like “this is a dog,” “this is the front side,” etc.)\n*   **VAE Encoder** : which focuses on the appearance and textures (the actual pixels: edges, color, lighting)\n\n> This dual-path approach means you can tell it to _rotate a car 180 degrees_ and it’ll understand not just the object but also how the back of it should _look_. Or tell it to _add a signboard_, and it’ll throw in the correct _reflection_ too, which is honestly nuts.\n\nPress enter or click to view image in full size\n\n![Image 24](https://miro.medium.com/v2/resize:fit:700/0*g1piGmv5TTX6MZMu)\n\nEditing Text in Images\n----------------------\n\nPress enter or click to view image in full size![Image 25](https://miro.medium.com/v2/resize:fit:1280/0*5QJC-UddDLW3Z8as)\n\nPress enter or click to view image in full size![Image 26](https://miro.medium.com/v2/resize:fit:1280/0*Q6XhHIWXpwKolZ5R)\n\nMost image models fail miserably at editing text. Either the font looks off, the alignment breaks, or it smudges everything. Qwen-Image-Edit doesn’t. You can:\n\n*   **Add text**\n*   **Delete text**\n*   **Modify specific characters**\n\n…and it keeps the _original font_,...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "I Asked GPT-5 to Predict 2026 — It Scared Me",
          "url": "http://medium.com/@travishudsons/i-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99",
          "content": "I Asked GPT-5 to Predict 2026 — It Scared Me | by Travis Hudson | Aug, 2025 | LearnAItoprofit.com\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F171677f6ef99&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](https://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](https://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Sign up](https://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[LearnAItoprofit.com -------------------](https://learnaitoprofit.com/?source=post_page---publication_nav-b555a37ad5bc-171677f6ef99---------------------------------------)\n\n·\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fwriting-for-profit-with-ai&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&collection=LearnAItoprofit.com&collectionId=b555a37ad5bc&source=post_page---publication_nav-b555a37ad5bc-171677f6ef99---------------------publication_nav------------------)\n\n[![Image 4: LearnAItoprofit.com](https://miro.medium.com/v2/resize:fill:76:76/1*MDbgiQN0r_f0k9x45YcB7g.png)](https://learnaitoprofit.com/?source=post_page---post_publication_sidebar-b555a37ad5bc-171677f6ef99---------------------------------------)\nArtificial Intelligence Tools For Writers. How to use Ai Tools and Generative AI for passive income for your side hustle or home business.\n\n[Follow publication](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fwriting-for-profit-with-ai&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&collection=LearnAItoprofit.com&collectionId=b555a37ad5bc&source=post_page---post_publication_sidebar-b555a37ad5bc-171677f6ef99---------------------post_publication_sidebar------------------)\n\nMember-only story\n\nI Asked GPT-5 to Predict 2026 — It Scared Me\n============================================\n\n**The AI didn’t just answer my question — it flipped my reality upside down.**\n------------------------------------------------------------------------------\n\n[![Image 5: Travis Hudson](https://miro.medium.com/v2/resize:fill:64:64/1*yorBFbO0AkVkx-FNfhh5HA.png)](https://medium.com/@travishudsons?source=post_page---byline--171677f6ef99---------------------------------------)\n\n[Travis Hudson](https://medium.com/@travishudsons?source=post_page---byline--171677f6ef99---------------------------------------)\n\nFollow\n\n3 min read\n\n·\n\nAug 12, 2025\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fwriting-for-profit-with-ai%2F171677f6ef99&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&user=Travis+Hudson&userId=b0bc25179645&source=---header_actions--171677f6ef99---------------------clap_footer------------------)\n\n182\n\n17\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F171677f6ef99&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=---header_actions--171677f6ef99---------------------bookmark_footer------------------)\n\n[Listen](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D171677f6ef99&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=---header_actions--171677f6ef99---------------------post_audio_button------------------)\n\nShare\n\nYou ever ask a question just for fun… and instantly regret it?\n\n> Yeah. That was me with GPT-5.\n\nI wanted a quick “lol” moment.\n\nInstead?\n\nIt gave me a digital slap across the face and basically said: “Brace yourself, 2026 isn’t what you think.”\n\n> Everyone Thinks the Future Is Shiny\n\n> **Flying cars.**\n>\n>\n> **AI butlers.**\n>\n>\n> **More time, more money, more vibes.**\n\n> Reality: That’s not what 2026 looks like.\n\n**We’re not heading into a utopia. We’re diving headfirst into an identity crisis.**\n\nAnd GPT-5 didn’t sugarcoat it.\n\nPress enter or click to view image in full size\n\n![Image 6](https://miro.medium.com/v2/resize:fit:700/1*BnM0Tk8eAFLfqWMpqofRww.png)\n\n[jpg](https://sm.mashable.com/t/mashable_sea/article/o/openai-say/openai-says-chatgpt-5-is-a-fast-active-thought-partner-for-h_ehz6.1200.jpg)\n\n1. Work? What Work?\n-------------------\n\n> “What jobs will be in demand in 2026?”\n\nMy innocent question.\n\nGPT-5’s answer?\n\n> **“Mostly the ones AI hasn’t stolen yet.”**\n\nCool. So we’re playing career dodgeball now.\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F171677f6ef99&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=regwall&source=-----171677f6ef99---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99%3Fsource%3D-----171677f6ef99---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----171677f6ef99---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99%3Fsource%3D-----171677f6ef99---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----171677f6ef99---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](https://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&source=-----171677f6ef99---------------------post_regwall------------------)\n\n[](https://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fwriting-for-profit-with-ai%2F171677f6ef99&operation=register&redirect=https%3A%2F%2Flearnaitoprofit.com%2Fi-asked-gpt-5-to-predict-2026-it-scared-me-171677f6ef99&user=Travis+Hudson&userId=b0bc25179645&source=---footer_actions--171677f6ef99---------------------clap_footer------------------)\n\n182\n\n[](https://medium.co...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "The Best AI Video Generators: A Detailed Comparison of 10 Tools",
          "url": "http://medium.com/@jimclydemonge/the-best-ai-video-generators-a-detailed-comparison-of-10-tools-05baf1039031",
          "content": "Here are 10 of the best AI video generator tools you should know about.\n-----------------------------------------------------------------------\n\n[![Image 1: Jim Clyde Monge](https://miro.medium.com/v2/resize:fill:64:64/1*y21asU2FcaTTiDiyXbJK9A.jpeg)](https://jimclydemonge.medium.com/?source=post_page---byline--05baf1039031---------------------------------------)\n\n13 min read\n\nAug 19, 2025\n\nPress enter or click to view image in full size\n\n![Image 2: The Best AI Video Generator: A Detailed Comparison of 10 Tools](https://miro.medium.com/v2/resize:fit:700/1*A0ZwqdLj7YLsDQdi7d1FSQ.jpeg)\n\nBest AI video generators in 2025. Image by\n\nAI video tech has come a long way in just a couple of years. Back in 2023, most of the AI video clips I generated with models like Kling or Stable Video Diffusion looked mushy, robotic, and obviously fake.\n\nFast forward to 2025, and we now have models that generate footage realistic enough to fool the average viewer. These tools can recreate natural human movement, faces that express genuine emotion, and even sound that matches perfectly with the scene.\n\nBut with this progress comes a new problem: CHOICE.\n\nThere are now hundreds of video models, both open-source and proprietary, and just as many platforms to choose from. For creators, businesses, or developers, picking the right one can be overwhelming.\n\nThat’s why I put this guide together. In this article, I’ll compare ten of the most popular AI video generators today. To be fair to all the platforms and easily see their differences, I will be using a common prompt to generate the AI videos:\n\n> **Prompt:**A young woman sits by the window of a cozy coffee shop at sunset, sipping her coffee while looking outside. The warm orange glow of the setting sun floods the shop, casting soft golden light on her face and reflecting off the glass. Outside the window, people walk by slowly, and the city street glows with the fading light of the day. The coffee shop interior has wooden tables, plants, and hanging lights that flicker softly. The scene feels cinematic, with a gentle camera pan across the room, highlighting the peaceful mood.\n\nHere’s a quick summary of the tools:\n\n1.   [Pollo AI](https://pollo.ai/)\n2.   Google Veo 3 (Gemini)\n3.   Kling 2.1 Master\n4.   Runway Gen 4\n5.   OpenAI Sora\n6.   Hailuo AI\n7.   Pika Labs\n8.   Invideo AI\n9.   Adobe Firefly\n10.   HeyGen\n\nI’ll break down their features, strengths, and pricing, so you can figure out which platform actually fits your workflow.\n\nLet’s get started.\n\n### 1. Pollo AI\n\n[Pollo AI](https://pollo.ai/) is a platform for generating both AI images and videos. It supports some of the most capable models out there, including Flux, GPT-Image-1, Imagen 4, Veo 3, Kling 2.1, and several others.\n\nPress enter or click to view image in full size\n\n![Image 3: Pollo AI. Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*V5Z5mmuRRT7B-GcjWxoqDw.png)\n\nPollo AI. Image by\n\nTo get started, create an account and open the AI Video tab. Under the models dropdown, select your preferred video model. In this example, I will be using Hailuo 02. Paste the prompt in the text field and configure all the required video settings.\n\nPress enter or click to view image in full size\n\n![Image 4: Pollo AI text-to-video. Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*X7Va9_lguyPk6ourxNCYjQ.png)\n\nPollo AI text-to-video. Image by\n\nClick on the Create button and wait for the video to be generated. Here’s the final result:\n\nPollo AI text-to-video sample output. Image by\n\nAwesome! The video generation only took ~30 seconds, and the video is a 720p 6-second MP4 file.\n\n**Pricing**\n\nPollo AI offers two plans:\n\n*   Lite at $15 per month (300 credits, 30 videos)\n*   Pro at $29 per month (800 credits, 80 videos)\n\nYou can also save 50% by paying yearly. Both plans include multi-model support, image and video generation, templates, and effects, with Pro giving more credits and parallel tasks.\n\n**My Observations**\n\nI love how intuitive and easy to use Pollo AI is. It supports most of the powerful video models out there, and the generation is fast and cheap. The image generator tool is also handy because you can create input images for image-to-video models without leaving the platform. On top of that, there’s a list of extra AI tools like a video upscaler, enhancer, face swap, and more, which makes it even more useful.\n\n### 2. Google Veo 3 (Gemini)\n\nVeo 3 is the latest and most capable video model from Google. It doesn’t just generate realistic videos. It delivers higher resolution, stronger physics understanding, better prompt adherence, and even built-in audio support.\n\nYou can try Veo 3 in Google Flow, the Gemini app, Vertex AI, or through third-party API providers like Fal AI and Replicate.\n\nPress enter or click to view image in full size\n\n![Image 5: Google Veo 3 (Gemini). Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*wz1JJR2uR8lzfgSvvCkwYQ.png)\n\nGoogle Veo 3 (Gemini). Image by\n\nUsing the same coffee shop at sunset prompt, I brought up Gemini and generated the video using Veo 3:\n\nPress enter or click to view image in full size\n\n![Image 6: Google Veo 3 (Gemini) prompt example. Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*9HMpYjLblP3kRRq_4nIlug.png)\n\nGoogle Veo 3 (Gemini) prompt example. Image by\n\nHere’s the final video:\n\nGoogle Veo 3 (Gemini) output example. Image by\n\nThe lighting looks natural, the reflections on the window look real, and the motion was smoother compared to other models.\n\n**Pricing**\n\nVeo 3 is included in the Gemini Pro subscription with limited access. Through APIs, it costs around $3.75 for an 8-second video. Veo 3 Fast is a cheaper option, usually around $2 for a 5-second video.\n\n**My Observations**\n\nVeo 3 is the go-to model for creators and marketers who need the highest quality. The native audio generation is a big plus. But it’s also the most expensive option right now, so it’s not ideal if you’re on a tight budget. If you have the budget and want premium results, it’s probably the best choice available.\n\n### 3. Kling 2.1 Master\n\nKling is one of the most popular and powerful AI video generators out there. It was one of the first platforms to offer video generation back in 2023, and it has continued to evolve. The latest release, Kling 2.1 Master, is their most capable model so far.\n\nPress enter or click to view image in full size\n\n![Image 7: Kling 2.1 homepage. Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*zt1-QyPMvSTuqabxZsVeZA.png)\n\nKling 2.1 homepage. Image by\n\nAlongside video generation, the platform also supports image generation, image editing, and even sound effects creation.\n\nUsing the coffee shop at sunset prompt, Kling 2.1 Master generated a clean and vibrant clip with good lighting and smoother character motion compared to older versions.\n\nPress enter or click to view image in full size\n\n![Image 8: Kling 2.1 master video generator. Image by Jim Clyde Monge](https://miro.medium.com/v2/resize:fit:700/1*ssCinbmDTUWZFdCHZy3Szw.png)\n\nKling 2.1 master video generator. Image by\n\nHere’s what the final video looks like:\n\nKling 2.1 master video sample. Image by\n\n**Pricing**\n\nSubscriptions start as low as $6.99, making it one of the most affordable options. You can also scale up by purchasing more credits, with plans going as high as $1200 for heavy users.\n\n**My Observations**\n\nKling 2.1 offers a substantial upgrade over Kling 2.0. The jump in resolution and overall video quality is noticeable. However, it still doesn’t reach the same level of realism as Veo 3, but it delivers impressive results for its price.\n\n### 4. Runway Gen 4\n\nRunway’s Gen-4 is the latest version of their AI video model, and it’s one of the most interesting tools on this list. It’s built for creators who care about consistency across shots and scenes. That means you can keep the same character or object across multiple shots without retraining or doing complex tweaks.\n\nPress ...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "Why You’ll Kick Yourself for Missing Out on Private Local LLMs: The New Era of Web AI Is Already…",
          "url": "https://medium.com/@PowerUpSkills/why-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9",
          "content": "Why You’ll Kick Yourself for Missing Out on Private Local LLMs: The New Era of Web AI Is Already Here | by Jannis | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F1b6ef4ef39a9&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Mastodon](https://me.dm/@PowerUpSkills)\n\nTop highlight\n\nMember-only story\n\nWhy You’ll Kick Yourself for Missing Out on Private Local LLMs: The New Era of Web AI Is Already Here\n=====================================================================================================\n\n[![Image 4: Jannis](https://miro.medium.com/v2/resize:fill:32:32/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---byline--1b6ef4ef39a9---------------------------------------)\n\n[Jannis](http://medium.com/@PowerUpSkills?source=post_page---byline--1b6ef4ef39a9---------------------------------------)\n\nFollow\n\n5 min read\n\n·\n\n6 days ago\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&user=Jannis&userId=acf2ec2760d8&source=---header_actions--1b6ef4ef39a9---------------------clap_footer------------------)\n\n381\n\n6\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=---header_actions--1b6ef4ef39a9---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=---header_actions--1b6ef4ef39a9---------------------post_audio_button------------------)\n\nShare\n\n_Experience ChatGPT-Like Models Running Completely Offline! In Your Browser!_\n\nEver wondered what it would feel like to use cutting-edge language models inside your browser?\n\nLocally, privately, and even offline — without ever sending a byte of your data to a remote server?\n\nBuckle up: the future of privacy-first AI isn’t just coming, it’s live, open-source, and astonishingly easy to use.\n\nPress enter or click to view image in full size\n\n![Image 5](https://miro.medium.com/v2/resize:fit:700/1*wXqB3d6NaJfa9WCaUgmx0w.png)\n\nHi, this is Jannis.\n\nLet me walk you through what makes the “in-browser-llm-inference” project so compelling — and why it might just be the turning point for developers, builders, and creators seeking true control over their AI.\n\nWhat is Private In-Browser LLM Inference?\n-----------------------------------------\n\nMost web-based chatbots and AI assistants, even the most celebrated ones, perform their heavy lifting (inference) remotely on powerful company servers.\n\nEnter “in-browser-llm-inference” — a project that completely flips the script. Here, all inference happens within your own browser, using your computer’s CPU.\n\nThe entire process, from loading the model to generation, never leaves your device.\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F1b6ef4ef39a9&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=regwall&source=-----1b6ef4ef39a9---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9%3Fsource%3D-----1b6ef4ef39a9---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----1b6ef4ef39a9---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9%3Fsource%3D-----1b6ef4ef39a9---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----1b6ef4ef39a9---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=-----1b6ef4ef39a9---------------------post_regwall------------------)\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&user=Jannis&userId=acf2ec2760d8&source=---footer_actions--1b6ef4ef39a9---------------------clap_footer------------------)\n\n381\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&user=Jannis&userId=acf2ec2760d8&source=---footer_actions--1b6ef4ef39a9---------------------clap_footer------------------)\n\n381\n\n6\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F1b6ef4ef39a9&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fwhy-youll-kick-yourself-for-missing-out-on-private-local-llms-the-new-era-of-web-ai-is-already-1b6ef4ef39a9&source=---footer_actions--1b6ef4ef39a9---------------------bookmark_footer------------------)\n\n[![Image 6: Jannis](https://miro.medium.com/v2/resize:fill:48:48/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---post_author_info--1b6ef4ef39a9---------------------------------------)\n\n[![Image 7: Jannis](https://miro.medium.com/v2/resize:fill:64:64/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---post_author_info--1b6ef4ef39a9---------------------------------------)\n\nFollow\n\n[Written...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "Hidden Dangers in MCP Servers that nobody talks about.",
          "url": "https://medium.com/data-science-collective/hidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc",
          "content": "Hidden Dangers in MCP Servers that nobody talks about. | by Manpreet Singh | Data Science Collective | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Fcb6d8df9d0bc&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 4](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Data Science Collective -----------------------](https://medium.com/data-science-collective?source=post_page---publication_nav-8993e01dcfd3-cb6d8df9d0bc---------------------------------------)\n\n·\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-collective&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&collection=Data+Science+Collective&collectionId=8993e01dcfd3&source=post_page---publication_nav-8993e01dcfd3-cb6d8df9d0bc---------------------publication_nav------------------)\n\n[![Image 5: Data Science Collective](https://miro.medium.com/v2/resize:fill:38:38/1*0nV0Q-FBHj94Kggq00pG2Q.jpeg)](https://medium.com/data-science-collective?source=post_page---post_publication_sidebar-8993e01dcfd3-cb6d8df9d0bc---------------------------------------)\nAdvice, insights, and ideas from the Medium data science community\n\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fdata-science-collective&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&collection=Data+Science+Collective&collectionId=8993e01dcfd3&source=post_page---post_publication_sidebar-8993e01dcfd3-cb6d8df9d0bc---------------------post_publication_sidebar------------------)\n\nMember-only story\n\nHidden Dangers in MCP Servers that nobody talks about.\n======================================================\n\n[![Image 6: Manpreet Singh](https://miro.medium.com/v2/resize:fill:32:32/1*YaViKfuc2uAV4OhpLOsZXw.jpeg)](http://medium.com/@singh.manpreet171900?source=post_page---byline--cb6d8df9d0bc---------------------------------------)\n\n[Manpreet Singh](http://medium.com/@singh.manpreet171900?source=post_page---byline--cb6d8df9d0bc---------------------------------------)\n\nFollow\n\n6 min read\n\n·\n\n4 days ago\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fdata-science-collective%2Fcb6d8df9d0bc&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&user=Manpreet+Singh&userId=4b41da1a4363&source=---header_actions--cb6d8df9d0bc---------------------clap_footer------------------)\n\n59\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2Fcb6d8df9d0bc&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&source=---header_actions--cb6d8df9d0bc---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3Dcb6d8df9d0bc&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&source=---header_actions--cb6d8df9d0bc---------------------post_audio_button------------------)\n\nShare\n\nPress enter or click to view image in full size\n\n![Image 7](https://miro.medium.com/v2/resize:fit:700/0*1jZ1n2STA9i26u1_)\n\nPhoto by [Mikael Seegen](https://unsplash.com/@mikael_seegen?utm_source=medium&utm_medium=referral) on [Unsplash](https://unsplash.com/?utm_source=medium&utm_medium=referral)\n\nI know I know… I am the one who wrote a alot about MCP servers lately and praised about this.\n\nNo doubt, MCP servers are one of the best way to align your task by connecting with correct tool.\n\nokay I am not explaing again what is MCP server is? I have already wrote a detailed article on it few months back. If you want to know all about MCP sever, then you can check this article.\n\n[Simplified Guide for Model Context Protocol (MCP) ------------------------------------------------- ### The simplest guide related to MCP medium.com](http://medium.com/everyday-ai/simplified-guide-for-model-context-protocol-mcp-dd1ca3c9f223?source=post_page-----cb6d8df9d0bc---------------------------------------)\n\nOkay enough about MCP server’s lucrative side..\n\n![Image 8](https://miro.medium.com/v2/resize:fit:332/0*e4_opF2xLgqMd4yk.png)\n\nSource: Meme from google\n\nNow let’s talk about the hidden vulnerabilities that residing inside MCP servers. This is not a hype or alarmism. actually it’s grounded in cold, hard facts — facts that emerged from the first-ever comprehensive study of 1,899 open-source MCP servers that combined with real-world incidents that sent shockwaves through AI deployments in 2025.\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2Fcb6d8df9d0bc&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=regwall&source=-----cb6d8df9d0bc---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc%3Fsource%3D-----cb6d8df9d0bc---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----cb6d8df9d0bc---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc%3Fsource%3D-----cb6d8df9d0bc---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----cb6d8df9d0bc---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&source=-----cb6d8df9d0bc---------------------post_regwall------------------)\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fdata-science-collective%2Fcb6d8df9d0bc&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fdata-science-collective%2Fhidden-dangers-in-mcp-servers-that-nobody-talks-about-cb6d8df9d0bc&user=Manpr...",
          "paywalled": true
        }
      },
      {
        "json": {
          "title": "Using Gemini CLI to Create a Gemini CLI Config Repo",
          "url": "https://medium.com/google-cloud/using-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a",
          "content": "Using Gemini CLI to Create a Gemini CLI Config Repo | by Dazbo (Darren Lester) | Google Cloud - Community | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F519399e25d9a&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderCollection&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 15](https://miro.medium.com/v2/resize:fill:32:32/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Google Cloud - Community ------------------------](https://medium.com/google-cloud?source=post_page---publication_nav-e52cf94d98af-519399e25d9a---------------------------------------)\n\n·\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fgoogle-cloud&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&collection=Google+Cloud+-+Community&collectionId=e52cf94d98af&source=post_page---publication_nav-e52cf94d98af-519399e25d9a---------------------publication_nav------------------)\n\n[![Image 16: Google Cloud - Community](https://miro.medium.com/v2/resize:fill:38:38/1*FUjLiCANvATKeaJEeg20Rw.png)](https://medium.com/google-cloud?source=post_page---post_publication_sidebar-e52cf94d98af-519399e25d9a---------------------------------------)\nA collection of technical articles and blogs published or curated by Google Cloud Developer Advocates. The views expressed are those of the authors and don't necessarily reflect those of Google.\n\n[Follow publication](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fsubscribe%2Fcollection%2Fgoogle-cloud&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&collection=Google+Cloud+-+Community&collectionId=e52cf94d98af&source=post_page---post_publication_sidebar-e52cf94d98af-519399e25d9a---------------------post_publication_sidebar------------------)\n\nUsing Gemini CLI to Create a Gemini CLI Config Repo\n===================================================\n\n[![Image 17: Dazbo (Darren Lester)](https://miro.medium.com/v2/resize:fill:32:32/1*jFg7mJ4-yYxt5agy4MwpyQ.jpeg)](http://medium.com/@derailed.dash?source=post_page---byline--519399e25d9a---------------------------------------)\n\n[Dazbo (Darren Lester)](http://medium.com/@derailed.dash?source=post_page---byline--519399e25d9a---------------------------------------)\n\nFollow\n\n7 min read\n\n·\n\nAug 12, 2025\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fgoogle-cloud%2F519399e25d9a&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&user=Dazbo+%28Darren+Lester%29&userId=58a0bd8ba726&source=---header_actions--519399e25d9a---------------------clap_footer------------------)\n\n268\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F519399e25d9a&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&source=---header_actions--519399e25d9a---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D519399e25d9a&operation=register&redirect=https%3A%2F%2Fmedium.com%2Fgoogle-cloud%2Fusing-gemini-cli-to-create-a-gemini-cli-config-repo-519399e25d9a&source=---header_actions--519399e25d9a---------------------post_audio_button------------------)\n\nShare\n\nThis is a really trivial but useful example of how you can use Gemini CLI to execute development workflows for you.\n\n![Image 18](https://miro.medium.com/v2/resize:fit:600/1*oUDUEupIr9htikYd8BE70w.gif)\n\nVideo generated using Veo3\n\nContext\n-------\n\nI’m using Gemini CLI — and Google Code Assist in Agent Mode — on three different devices at home. Since I’m often tweaking my global Gemini CLI configuration and then having to replicate that configuration to the other machines, I figured it was time to create a private GitHub repo to manage my configuration.\n\nAdmittedly, this is a trivial task. But I wanted to demonstrate how useful Gemini CLI is at doing this sort of thing.\n\nLet’s get to it!\n\nInitial Gemini Configuration and Pre-Reqs\n-----------------------------------------\n\nI’ve created a git repo from my `~/.gemini` folder. This folder contains a bunch of stuff that I want to track, as well as stuff I don’t want to track.\n\n`(tree -L 2 --dirsFirst -a -F)`\n\n.gemini/\n\n├── commands/\n\n│ └── plan.toml\n\n├── history/\n\n│ └── stuff-i-dont-care-about\n\n├── tmp/\n\n│ └── stuff-i-dont-care-about\n\n|\n\n├── .env\n\n├── .gitattributes\n\n├── GEMINI.md\n\n├── google_accounts.json\n\n├── installation_id\n\n├── oauth_creds.json\n\n└── settings.json\n### My Gemini Context\n\nMy `GEMINI.md` provides the global context that I want Gemini CLI to follow:\n\n# Project: Dazbo's Global Gemini Configuration\n\n---\n\nThis configuration should apply to all Gemini CLI invocations, unless any particular rules are overridden by a more local rule.\n\n---\n\n## General Instructions:\n\n- You are speaking to Dazbo, so feel free to occasionally use the name.\n\n- My GitHub handle is derailed-dash.\n\n- When running Python tools, prefer to use uvx where possible.\n\n- When installing Python dependencies, prefer uv and ensure you are installing to a virtual environment.\n\n- If a new dependency is required, please state the reason.\n\n## Mandatory Tooling\n\nTo ensure Python code adheres to required standards, the following commands  **must**  be run before creating or modifying any `.py` files. These commands will automatically fix many common issues and flag any that require manual intervention. The commands must be run from the root of the project:\n\n1. **Check and fix linting issues:**\n\n ```bash\n\n uvx ruff@latest check --fix .\n\n ```\n\n2. **Format the code:**\n\n ```bash\n\n uvx ruff@latest format .\n\n ```\n### My Settings\n\nThe `settings.json` is my Gemini configuration:\n\n{\n\n \"theme\": \"GitHub\",\n\n \"selectedAuthType\": \"oauth-personal\",\n\n \"checkpointing\": {\"enabled\": true},\n\n \"mcpServers\": {\n\n // --- Using remote GitHub MCP server ---\n\n \"github\": {\n\n \"httpUrl\": \"https://api.githubcopilot.com/mcp/\",\n\n \"headers\": {\n\n \"Authorization\": \"${GITHUB_GEMINI_CLI_PAT}\"\n\n },\n\n \"timeout\": 5000\n\n },\n\n \"veo\": {\n\n \"command\": \"mcp-veo-go\",\n\n \"env\": {\n\n \"MCP_REQUEST_MAX_TOTAL_TIMEOUT\": \"240000\",\n\n \"MCP_SERVER_REQUEST_TIMEOUT\": \"30000\",\n\n \"GENMEDIA_BUCKET\": \"${GOOGLE_STORAGE_BUCKET}\",\n\n \"PROJECT_ID\": \"${GOOGLE_CLOUD_PROJECT}\",\n\n \"LOCATION\": \"${GOOGLE_CLOUD_REGION}\"\n\n }\n\n },\n\n \"imagen\": {\n\n \"command\": \"mcp-imagen-go\",\n\n \"env\": {\n\n \"MCP_SERVER_REQUEST_TIMEOUT\": \"55000\",\n\n \"GENMEDIA_BUCKET\": \"${GOOGLE_STORAGE_BUCKET}\",\n\n \"PROJECT_ID\": \"${GOOGLE_CLOUD_PROJECT}\",\n\n \"LOCATION\": \"${GOOGLE_CLOUD_REGION}\"\n\n }\n\n },\n\n \"chirp3-hd\": {\n\n \"command\": \"mcp-chirp3-go\",\n\n \"env\": {\n\n \"MCP_SERVER_REQUEST_TIMEOUT\": \"55000\",\n\n \"GENMEDIA_BUCKET\": \"...",
          "paywalled": false
        }
      },
      {
        "json": {
          "title": "Every Developer Wants Vibe Kanban: The Next Step in Managing Your AI Coding Agents",
          "url": "https://medium.com/@PowerUpSkills/every-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764",
          "content": "Every Developer Wants Vibe Kanban: The Next Step in Managing Your AI Coding Agents | by Jannis | Aug, 2025 | Medium\n\n===============\n\n[Sitemap](http://medium.com/sitemap/sitemap.xml)\n\n[Open in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F398e3cc90764&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=mobileNavBar&source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n[](http://medium.com/?source=post_page---top_nav_layout_nav-----------------------------------------)\n\n[Write](http://medium.com/m/signin?operation=register&redirect=https%3A%2F%2Fmedium.com%2Fnew-story&source=---top_nav_layout_nav-----------------------new_post_topnav------------------)\n\n[](http://medium.com/search?source=post_page---top_nav_layout_nav-----------------------------------------)\n\nSign up\n\n[Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=post_page---top_nav_layout_nav-----------------------global_nav------------------)\n\n![Image 3](https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png)\n\n[Mastodon](https://me.dm/@PowerUpSkills)\n\nMember-only story\n\n**Every Developer Wants Vibe Kanban: The Next Step in Managing Your AI Coding Agents**\n======================================================================================\n\n[![Image 4: Jannis](https://miro.medium.com/v2/resize:fill:64:64/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---byline--398e3cc90764---------------------------------------)\n\n[Jannis](http://medium.com/@PowerUpSkills?source=post_page---byline--398e3cc90764---------------------------------------)\n\nFollow\n\n6 min read\n\n·\n\n4 days ago\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&user=Jannis&userId=acf2ec2760d8&source=---header_actions--398e3cc90764---------------------clap_footer------------------)\n\n82\n\n2\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=---header_actions--398e3cc90764---------------------bookmark_footer------------------)\n\n[Listen](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2Fplans%3Fdimension%3Dpost_audio_button%26postId%3D398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=---header_actions--398e3cc90764---------------------post_audio_button------------------)\n\nShare\n\n_Think traditional Kanban is powerful? Wait until you orchestrate armies of AI agents — and watch your coding workflow transform overnight._\n\nManaging and organizing the output of multiple AI coding assistants is quickly becoming a superpower for builders, but juggling agents in chaotic windows or endless Slack threads?\n\nThat’s yesterday. Something smarter just arrived.\n\nPress enter or click to view image in full size\n\n![Image 5](https://miro.medium.com/v2/resize:fit:700/0*0LeX0P89c42RaFtd)\n\nHi, this is Jannis.\n\nIf you’re like me, you’ve probably wondered if there’s a tool that keeps your growing fleet of AI coding agents on track, lets you switch between them in seconds, and still gives you a global birds-eye view over what’s done, in progress, or blocked.\n\nThat’s exactly what I set out to dig into when I found **Vibe Kanban.**A Kanban board designed for orchestrating coding agents.\n\nIf you’re experimenting solo, building an MVP for your SaaS, or shipping consistently in a team, stay with me.\n\n> Before we dive in, let’s set some foundation. Kanban is an agile method to organize projects. Have you heard of scrum or kanban or other methodologies before, or do you already use them?\n>\n> Choosing the optimal agile framework requires careful evaluation of team dynamics…\n\nCreate an account to read the full story.\n-----------------------------------------\n\nThe author made this story available to Medium members only.\n\nIf you’re new to Medium, create a new account to read this story on us.\n\n[Continue in app](https://rsci.app.link/?%24canonical_url=https%3A%2F%2Fmedium.com%2Fp%2F398e3cc90764&%7Efeature=LoOpenInAppButton&%7Echannel=ShowPostUnderUser&%7Estage=regwall&source=-----398e3cc90764---------------------post_regwall------------------)\n\nOr, continue in mobile web\n\n[Sign up with Google](http://medium.com/m/connect/google?state=google-%7Chttps%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764%3Fsource%3D-----398e3cc90764---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----398e3cc90764---------------------post_regwall------------------)\n\n[Sign up with Facebook](http://medium.com/m/connect/facebook?state=facebook-%7Chttps%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764%3Fsource%3D-----398e3cc90764---------------------post_regwall------------------%26skipOnboarding%3D1%7Cregister&source=-----398e3cc90764---------------------post_regwall------------------)\n\nSign up with email\n\nAlready have an account? [Sign in](http://medium.com/m/signin?operation=login&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=-----398e3cc90764---------------------post_regwall------------------)\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&user=Jannis&userId=acf2ec2760d8&source=---footer_actions--398e3cc90764---------------------clap_footer------------------)\n\n82\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fvote%2Fp%2F398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&user=Jannis&userId=acf2ec2760d8&source=---footer_actions--398e3cc90764---------------------clap_footer------------------)\n\n82\n\n2\n\n[](http://medium.com/m/signin?actionUrl=https%3A%2F%2Fmedium.com%2F_%2Fbookmark%2Fp%2F398e3cc90764&operation=register&redirect=https%3A%2F%2Fmedium.com%2F%40PowerUpSkills%2Fevery-developer-wants-vibe-kanban-the-next-step-in-managing-your-ai-coding-agents-398e3cc90764&source=---footer_actions--398e3cc90764---------------------bookmark_footer------------------)\n\n[![Image 6: Jannis](https://miro.medium.com/v2/resize:fill:96:96/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---post_author_info--398e3cc90764---------------------------------------)\n\n[![Image 7: Jannis](https://miro.medium.com/v2/resize:fill:128:128/1*AZ8boysRVFpu2_a7SzFXyA.png)](http://medium.com/@PowerUpSkills?source=post_page---post_author_info--398e3cc90764---------------------------------------)\n\nFollow\n\n[Written by Jannis -----------------](http://medium.com/@PowerUpSkills?source=post_page---post_author_info--398e3cc90764---------------------------------------)\n\n[1.91K...",
          "paywalled": true
        }
      }
    ]
  },
  "connections": {
    "Fetch Medium HTML": {
      "main": [
        [
          {
            "node": "Parse Reader Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another node": {
      "main": [
        [
          {
            "node": "Fetch Medium HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Member-only?": {
      "main": [
        [
          {
            "node": "Log (member-only)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Chat (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log (member-only)": {
      "main": [
        [
          {
            "node": "Shape Output (skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat (JSON)": {
      "main": [
        [
          {
            "node": "Parse OpenAI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI JSON": {
      "main": [
        [
          {
            "node": "Shape Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reader Markdown": {
      "main": [
        [
          {
            "node": "Member-only?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3086c7a1-289f-41bc-adbe-94caadc13a3c",
  "meta": {
    "instanceId": "a396a459e20e70dadf88b2d8f204762d2d80680fe1414733547fa53f595d718e"
  },
  "id": "KRCc0Jm59F6dd23J",
  "tags": []
}